# **CAREER ACCELERATOR LP1 - PROJECT**

### **Introduction:**

Ideas, creativity, and execution are essential for a start-up to flourish. But are they enough? Investors provide start-ups and other entrepreneurial ventures with the capital---popularly known as "funding"---to think big, grow rich, and leave a lasting impact. In this project, you are going to analyse funding received by start-ups in India from 2018 to 2021. You will find the data for each year of funding in a separate csv file in the dataset provided. In these files you'll find the start-ups' details, the funding amounts received, and the investors' information.

### **Scenario:**
My team Has been tasked with analyzing the Indian Startup Ecosystem. The analysis should provide insight as to the best course of action for the company.

### **Task:**

Our task is to develop a unique story from this dataset by stating and testing a hypothesis, asking questions, perform analysis and share insights with appropriate visualisations.

# **INDIAN STARTUP ECOSYSTEM ANALYSIS 2018 - 2021**

# **1. Business Understanding**

To be able to understand anything, We must first break it apart and examine it's components before we understand how it works as a whole. The task is to perform an analysis of the 'Indian Start-Up Ecosystem', but what exactly do each of these mean? Let's dive into the definitions of each of the elements in the task;

#### **Definitions** ####
##### **Ecosystem:**
In natural sciences, ‘ecosystems’ are generally defined as a system, or a group of interconnected elements, formed by the interaction of a community of organisms with their environment. 

##### **Startup:**
A startup or start-up is a company or project undertaken by an entrepreneur to seek, develop, and validate a scalable business model. Startups are new businesses that intend to grow large beyond the solo founder. At the beginning, startups face high uncertainty and have high rates of failure, but a minority of them do go on to become successful and influential.

##### **India:** 
India is a country that occupies the greater part of South Asia. India is made up of 28 states and eight union territories, and its national capital is New Delhi. It is the seventh-largest country by area and the most populous country as of June 2023.

#### **So What is a Start-Up Ecosystem and why should we care?**

A startup ecosystem is community of people, startups in their various stages and various types of organizations (funders, governments, etc) in a location (physical or virtual), interacting as a system to create and scale new startups. 

Neither biological nor startup ecosystems can be created, designed or built by an outside actor. While this makes the term ‘start-up ecosystem’ hard to grasp, it does underline that start-ups operate in complex and highly dynamic environments. For this reason, it is particularly important to take sufficient time to analyse and understand the ecosystem before designing interventions to partake in it.

Just like biological ecosystems, a startup ecosystem consists of different elements, which can be individuals, groups, organisations and institutions that form a community by interacting with one another, but also environmental determinants that have an influence on how these actors work and interconnect; in startup ecosystems, these can be laws and policies or cultural norms.

![**A Start-Up Ecosystem**](https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/StartupEcosystem.png/300px-StartupEcosystem.png)

#### **Previous Studies / Research**

In nature, for any and all participants to thrive, the ecosystem must be healthy and in balance. For a company this could be the best indicator for whether to invest in an ecosystem or not. Previous studies and researchers have identified 5 key aspects of an ecosystem that can be tracked to measure it's vibrance and and these are:


**1. What is the Density and ecosystem value?**  \
A first step to mapping an ecosystem is to look at its actual size, growth, and value. This can be tracked by the number of new startups founded in a region during a specific period but also the total combined valuation of all these companies over time, and even break them down by funding year to monitor each cohort. Looking at the number of exits, especially the larger ones are also an interesting indicator of startup success.

**2. How does the Funding activity look in the Ecosystem?** \
To assess the health of a startup ecosystem we need to have an eye on the quality, quantity, and ease of access to funding. To evaluate the ease of access to funding, start tracking early-stage funding rounds. Their volume and growth over time will let us know if start-ups are getting the support they need to take their business off the ground. The location of the investors will help you to identify foreign VCs already investing in your Indian startup ecosystem and allow us to build bridges for potential collaboration and partnerships.

**3. Market reach and scaling opportunities** \
The easiest way to gauge the success of your startups is to watch the unicorns (measured in terms of companies valued at over $1 billion) in your ecosystem. Although it may be a metric not relevant in the future (due to the increase in number of unicorns), it remains an interesting indicator of startup ecosystem success.

**4.Knowledge and innovation** \
Innovation and entrepreneurship often flourish alongside world-class knowledge institutes and R&D incentives. These institutions often foster high-impact innovation, collaboration, and success across sectors. You can measure the level of innovation and new technology in your local ecosystem through research and patent activity, and by keeping tabs on the number of spinouts your local knowledge institutions produce. 

**5. Connectedness, Talent, Diversity, and more…** \
A vibrant ecosystem is not simply a collection of isolated elements, the connections between the elements matter just as much as the elements themselves. The metrics for connectedness and access to quality and diverse talent are a little more complex. You could however look out for the number of accelerators & incubators in your region, on job boards to access the type of talent your startups are looking for the most and on investment heatmaps to understand the breadth of various industries or depth of expertise present in your community.

### **Business Objective** 
To find out whether to invest in the Indian start-up ecosystem or not.

#### **Hypothesis**
Null - The Indian Startup Ecosystem is healthy and worth an investment\
Alternative  - The Indian Startup Ecosystem is weak and not worthy of investment

#### **Key Questions**

Using metrics similar to those of previous researchers enables the company to easily compare the Indian case with other global thereby giving the company a broader worldview and the ability to make a more informed decision. 
This is to mean our Key questions will be influenced heavily by the body of previous research.

**1. What is the Total Value of the Indian Startup Ecosystem?**
* How Many startups were founded in the period
* How Much Money has the ecosystem receive in funding 

**2. How has the Ecosystem changed over time?**
* What is the change in performance year on year
* Which region has the best performance

**3. What is the Success rate of Start-ups in the ecosystem?**
* Are there any unicorns from the ecosystem
* How Many Unicorns

**4. Who is already in the Ecosystem?**
* How many companies are already involved in the ecosystem
* What fields are they invested in

**5. Which is the best performing sector in the ecosystem?**
* Sector with highest amount raised
* Sector with most start-ups

#### **Success Criteria**

1. To produce a dashboard that showcases the metrics monitoring the health of the Indian Start-up Ecosystem.
2. To provide an objective metric that can be used to compare with other startup ecosystems.
3. If decision is to invest, to provide guidance on the best path of investment into the Indian Startup Ecosystem.

# **2. Data Understanding**

### **2.1: Data Preparation**

#### **2.1.1: Importations**

In [101]:
# import all necessary libraries
import os
import pandas as pd
import numpy as np
import pyodbc
from dotenv import dotenv_values
import matplotlib.pyplot as plt
import seaborn as sns

#remove pandas display limits
pd.set_option('display.max_columns', None)

#hide warnings
import warnings

warnings.filterwarnings('ignore')


#confrimation all libraries loaded
print("all libraries loaded successfully")

all libraries loaded successfully

### **2.1.2: Database Connection**

In [102]:
#reading data from database
#Load environment variables from .env file into a dictionary variable
environment_variables=dotenv_values('.env')

# Get the values for the credentials you set in the '.env' file
database = environment_variables.get("DB_NAME")
server = environment_variables.get("SERVER_NAME")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")

#Connecting to the database
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

# Using the connect method of the pyodbc library.
# This will connect to the server. 
connection=pyodbc.connect(connection_string)

print("connected successfully")

connected successfully

### **Note:** If the connection stops working, try restarting the kernel

#### **2.1.3: Reading the Data**

##### *YEAR: 2018*

In [103]:
# import 2018 data from GitHub
# Available from Azubi Africa Career Accelerator LP1 Repository as csv

df_2018 = pd.read_csv("https://raw.githubusercontent.com/Azubi-Africa/Career_Accelerator_LP1-Data_Analysis/main/startup_funding2018.csv")

df_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

##### *YEAR: 2019*

In [104]:
# import 2019 data from csv
df_2019 = pd.read_csv("datasets\startup_funding2019.csv")
df_2019.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

##### *YEAR: 2020*

In [105]:
#reading the 2020 SQL table into a dataframe

query='''SELECT * 
        FROM dbo.LP1_startup_funding2020'''
        
df_2020=pd.read_sql(query,connection)

df_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

##### *YEAR: 2021*

In [106]:
#reading the 2021 SQL table into a dataframe

query='''SELECT * 
        FROM dbo.LP1_startup_funding2021'''
        
df_2021=pd.read_sql(query,connection)

df_2021.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

**Notes:** \
    1. The data for each year is saved in variables named 'df_year'

## **2.2: Exploratory Data Analysis**

The data provided is expected to have the following columns to be used in the analysis:


|  | **COLUMN NAME** | **DESCRIPTION** | **EXPECTED DATATYPE** |
|--|-----------------|-----------------|-----------------------|
|**1**| **Company** | Name of the company/start-up | Object |
|**2**| **Founded** | Year start-up was founded | Datetime[Y] / int |
|**3**| **Sector** | Sector/ Industry | Category |
|**4**| **Description** | Description about Company | Object |
|**5**| **Founders** | Founders of the Company | Object |
|**6**| **Investor** | Investors | Category |
|**7**| **Amount** | Raised funds | float64 / int64 |
|**8**| **Stage** | Round of funding reached | Category |
|**9**| **Location** | City/ Region of Startup | Category |

**Key Assumption**
Based on our business understanding and the key questions asked, we have created the expected datatype column to guide our EDA

In [107]:
#checking the 2018 info
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [108]:
#checking 2019 info
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [109]:
#checking 2020 info
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

In [110]:
#checking 2021 info
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

##### **Notes:** #####
1. The 2018 Dataset has less columns than the expected and all in the object datatype.
2. The 2019 and 2021 datasets have all expected and similar datatypes across columns the Founded column.
3. The 2020 dataset has more columns than expected and two columns in the expected datatypes (Founded and Amount).

##### **Decisions:** #####
We will clean all years' data separately as the columns are not in expected datatypes.\
To identify each data with year collected, we will add a year column to all datasets.

In [111]:
#adding a year column to identify each year's data
df_2018['year'] = 2018
df_2019['year'] = 2019
df_2020['year'] = 2020
df_2021['year'] = 2021

## **Collaboration Tip:**
Clean the data with a focus of creating a dataframe with an info like the Expected table above.

**Reference:** \
Effective Pandas by Matt Harrison - https://www.youtube.com/watch?v=zgbUk90aQ6A&t=4084s

## **2018 CLEANING**

In [112]:
#checking if column names are as expected
(df_2018
.columns)

Index(['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location',
       'About Company', 'year'],
      dtype='object')

**Observations:**
    The column names are not as expected.\
**Decision**
    Check further on items in the columns.

In [113]:
#Checking columns
cols = ['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location','About Company', 'year']

(df_2018
 [cols]
)

,Company Name,Industry,Round/Series,Amount,Location,About Company,year
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,2018
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,2018
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2018
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,2018
...,...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif...",2018
522,Happyeasygo Group,"Tourism, Travel",Series A,—,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.,2018
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...,2018
524,Droni Tech,Information Technology,Seed,"₹35,000,000","Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...,2018
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!,2018

**Observation:**
1. The dataframe has 6 columns as opposed to the Expected 9. There is probably some missing/incomplete data from 2018.
2. The column names are similar/same to those expected.

In [114]:
#checking nulls
(df_2018
.isnull()
.sum())

Company Name     0
Industry         0
Round/Series     0
Amount           0
Location         0
About Company    0
year             0
dtype: int64

**Observation**
There are no nulls. So the DataFrame is missing some expected columns. Probably they weren't recorded.

In [115]:
#checking dtypes
(df_2018
 [cols]
 .dtypes)

Company Name     object
Industry         object
Round/Series     object
Amount           object
Location         object
About Company    object
year              int64
dtype: object

**Observation:**
The datatypes are not as expected for Industry, Amount and Round/Series columns.\
**Decision**
Delve further into the columns

In [116]:
(df_2018
 [['Industry','Amount','Round/Series']]
 .describe()
 )

       Industry Amount Round/Series
count       526    526          526
unique      405    198           21
top           —      —         Seed
freq         30    148          280

#### **Amount Column Cleaning**

In [117]:
#Dealing with the Amount Column
(df_2018
 ['Amount']
 .values
 )

array(['250000', '₹40,000,000', '₹65,000,000', '2000000', '—', '1600000',
       '₹16,000,000', '₹50,000,000', '—', '—', '—', '—', '—', '—', '—',
       '₹100,000,000', '150000', '1100000', '—', '₹500,000', '6000000',
       '650000', '₹35,000,000', '₹64,000,000', '—', '—', '2000000',
       '2000000', '2000000', '—', '₹20,000,000', '1000000', '—', '650000',
       '1000000', '5000000', '4000000', '₹30,000,000', '1000000',
       '2800000', '—', '150000', '₹40,000,000', '1000000', '1700000', '—',
       '1300000', '2000000', '—', '₹5,000,000', '₹20,000,000',
       '₹40,000,000', '₹20,000,000', '1000000', '₹12,500,000',
       '₹15,000,000', '500000', '5000000', '₹104,000,000', '₹45,000,000',
       '13400000', '—', '500000', '—', '₹25,000,000', '—', '₹26,400,000',
       '—', '—', '₹8,000,000', '₹60,000', '4000000', '9000000', '—',
       '100000', '20000', '—', '1000000', '—', '4000000', '250000', '—',
       '120000', '₹34,000,000', '—', '₹342,000,000', '$143,145', '—',
       '₹600,000,000', '—', '$742,000,000', '₹1,000,000,000',
       '₹2,000,000,000', '$3,980,000', '₹2,000,000,000', '$10,000', '—',
       '₹1,000,000,000', '₹100,000', '₹250,000,000', '₹2,000,000,000',
       '$1,000,000,000', '$7,000,000', '—', '$35,000,000', '₹550,000,000',
       '$28,500,000', '₹30,000,000', '$2,000,000', '₹240,000,000', '—',
       '—', '—', '₹120,000,000', '$2,400,000', '$30,000,000',
       '₹2,500,000,000', '$23,000,000', '—', '$150,000', '—', '—',
       '$11,000,000', '₹44,000,000', '$3,240,000', '—', '₹60,000,000',
       '₹2,500,000,000', '—', '—', '$540,000,000', '₹650,000,000',
       '₹1,600,000,000', '—', '$900,000', '$10,000,000', '—', '—',
       '$1,500,000', '—', '₹50,000,000', '₹70,000,000', '—', '$1,000,000',
       '$5,000,000', '₹16,000,000', '$14,000,000', '₹102,500,000',
       '$100,000,000', '₹550,000,000', '—', '₹20,000,000', '$2,000,000',
       '—', '₹1,200,000', '₹250,000,000', '₹5,200,000,000', '—', '—',
       '$800,000', '$1,041,000', '$100,000', '$100,000', '—', '₹100,000',
       '—', '$15,000', '500000', '1400000', '5000000', '1200000',
       '₹50,000,000', '—', '1000000', '—', '2200000', '500000',
       '₹100,000,000', '2000000', '1800000', '500000', '—', '150000',
       '3600000', '500000', '₹9,500,000', '—', '300000', '500000',
       '6830000', '1400000', '200000', '2000000', '₹150,000,000', '—',
       '1000000', '4300000', '—', '—', '—', '300000', '—', '364846',
       '4000000', '500000', '400000', '—', '1500000', '—', '120000',
       '₹7,000,000', '₹1,400,000', '—', '500000', '—', '₹50,000,000', '—',
       '—', '500000', '1000000', '₹10,000,000', '₹22,500,000',
       '₹5,000,000', '13200000', '—', '—', '—', '500000', '1000000', '—',
       '50000', '₹50,000,000', '200000', '₹140,200,000', '3000000',
       '400000', '1100000', '500000', '1250000', '180000', '₹30,000,000',
       '₹19,200,000', '₹103,000,000', '—', '₹40,000,000', '1000000',
       '1500000', '2000000', '—', '4200000', '175000', '₹35,000,000', '—',
       '₹100,000,000', '1300000', '—', '1450000', '—', '₹200,000',
       '1000000', '4500000', '1000000', '500000', '600000', '250000',
       '2000000', '—', '4500000', '₹16,600,000', '₹12,000,000', '1000000',
       '—', '15000000', '₹20,000,000', '300000', '50000', '₹30,000,000',
       '—', '—', '—', '—', '—', '—', '₹33,000,000', '125000', '4000000',
       '1000000', '—', '130000', '300000', '—', '1000000', '2000000', '—',
       '250000', '₹34,900,000', '—', '—', '₹72,000,000', '₹50,000,000',
       '—', '—', '120000', '₹120,000,000', '17200000', '600000', '—', '—',
       '₹35,000,000', '₹32,000,000', '100000', '1000000', '₹250,000,000',
       '3500000', '—', '₹135,000,000', '—', '250000', '1100000',
       '1000000', '—', '3000000', '—', '—', '—', '1500000', '1600000',
       '200000', '12000000', '₹15,000,000', '₹20,000,000', '—', '1000000',
       '₹10,000,000', '₹135,000,000', '3000000', '₹50,000,000',
       '₹20,000,000', '—', '—', '4200000', '₹64,000,000', '₹50,000,000',
       '—', '—', '—', '—', '—', '250000', '$10,000,000', '₹40,000,000',
       '$40,000,000', '—', '$1,100,000', '$50,000,000', '$1,500,000',
       '₹1,540,000,000', '—', '$3,000,000', '₹45,000,000', '$100,000,000',
       '$1,500,000', '$6,000,000', '₹140,000,000', '₹60,000,000',
       '$3,000,000', '—', '$100,000', '₹5,000,000', '$41,900,000',
       '$11,000,000', '—', '$100,000,000', '₹1,410,000,000', '—',
       '$3,530,000', '₹72,000,000', '$200,000', '$3,300,000',
       '₹240,000,000', '$1,000,000', '—', '₹580,000,000', '—',
       '$2,000,000', '$100,000', '$6,000,000', '₹36,000,000',
       '₹340,000,000', '$210,000,000', '₹35,000,000', '₹70,000,000',
       '$11,000,000', '—', '₹50,000,000', '₹70,000,000', '$5,000,000',
       '$37,680,000', '—', '$50,000,000', '$1,000,000', '$250,000', '—',
       '$20,000', '$900,000', '—', '₹1,200,000', '—', '5000000', '—',
       '₹40,000,000', '₹510,000,000', '₹2,200,000,000', '5000000',
       '1000000', '22000000', '—', '70000', '—', '10000000',
       '₹15,392,000,000', '₹20,000,000,000', '₹4,000,000,000', '1000000',
       '₹25,000,000', '185000000', '₹140,000,000', '—', '—', '—', '—',
       '—', '—', '1000000', '65000000', '2000000', '—', '₹165,000,000',
       '₹650,000,000', '—', '700000', '30000000', '—', '₹210,000,000',
       '210000000', '4000000', '—', '₹20,000,000', '₹2,029,600,000',
       '75000000', '₹600,000,000', '30000000', '₹80,000,000', '1760000',
       '2700000', '400000', '₹280,000,000', '₹800,000,000', '750000',
       '2500000', '—', '—', '80000000', '25000000', '₹730,000,000', '—',
       '3000000', '—', '3500000', '₹400,000,000', '₹600,000,000',
       '1100000', '3700000', '1300000', '₹140,000,000', '5600000',
       '₹260,000,000', '—', '₹150,000,000', '—', '—', '₹12,000,000',
       '99230000', '1000000', '70000000', '1000000', '2000000', '—',
       '₹400,000,000', '40000', '550000', '—', '50000000', '50000000',
       '365000000', '—', '₹8,750,000', '1500000', '30000000', '5000000',
       '₹78,000,000', '4000000', '—', '28000000', '15000000', '—',
       '5000000', '₹12,500,000', '—', '₹264,000,000', '—', '100000000',
       '—', '₹1,130,000,000', '₹810,000,000', '—', '₹1,400,000,000',
       '₹10,000,000', '—', '6000000', '14900000', '225000000', '—',
       '7500', '₹35,000,000', '35000000'], dtype=object)

**Observations:**
1. There are multiple currency symbols in the column.\
    Decision: Extract the currency symbols and put in a separate column
2. There are commas in some values.\
    Decision: Remove the commas 
3. There are '-' in some rows\
    Decision: replace them with Nan

In [118]:
#defining a function to extract the currrency symbols
def extract_currency(df, column_name, curr_char):
    """
    Checks if values in the specified column that start with the given currency character.
    If they do, extracts the currency character and saves it in a new column.

    Args:
        df (pandas.DataFrame): The DataFrame containing the data.
        column_name (str): The name of the column to check.
        curr_char (str): The special character to look for.

    Returns:
        pandas.DataFrame: The modified DataFrame with the new column.
    """
    # Check if values start with the specified special character
    mask = df[column_name].str.startswith(curr_char)

    # Create a new column with the extracted special character
    df['Currency'] = df.loc[mask, column_name].str[0]

    return df

#extracting and saving the currency symbols to a new column
extract_currency(df_2018, 'Amount', curr_char=('$','₹'))

,Company Name,Industry,Round/Series,Amount,Location,About Company,year,Currency
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018,NaN
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,2018,₹
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,2018,₹
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2018,NaN
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,2018,NaN
...,...,...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif...",2018,NaN
522,Happyeasygo Group,"Tourism, Travel",Series A,—,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.,2018,NaN
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...,2018,NaN
524,Droni Tech,Information Technology,Seed,"₹35,000,000","Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...,2018,₹
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!,2018,NaN

In [119]:
#cleaning the amount column and changing to float datatype
df_2018['Amount'] = (df_2018
                     ['Amount']
                     .str
                     .replace(',|\$|₹','', regex= True) #Remove the comma sign and the currency symbols
                     .replace('—', np.NaN, regex=True) #Replace the - with Null
                     .astype(float) #changing to float datatype
                     )
df_2018

,Company Name,Industry,Round/Series,Amount,Location,About Company,year,Currency
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000.0,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018,NaN
1,Happy Cow Dairy,"Agriculture, Farming",Seed,40000000.0,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,2018,₹
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,65000000.0,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,2018,₹
3,PayMe India,"Financial Services, FinTech",Angel,2000000.0,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2018,NaN
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,NaN,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,2018,NaN
...,...,...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000.0,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif...",2018,NaN
522,Happyeasygo Group,"Tourism, Travel",Series A,NaN,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.,2018,NaN
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500.0,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...,2018,NaN
524,Droni Tech,Information Technology,Seed,35000000.0,"Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...,2018,₹
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000.0,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!,2018,NaN

**Observations:**
The Amounts are in differenct currencies.\
**Decision:**
Convert all Ruppee amounts to USD

* **Key Assumption**: We assume that all amounts without a currency symbol are in USD

In [120]:
#converting ₹ to dollars.
def currency_converter(df, target, check, rate = 0.012):
    '''A function to convert the values of received in Rupees to Dollars.
    It checks the currency symbol from one column and them multiplies the target column with the conversion rate
    
    Args:
        df (pandas.DataFrame): The DataFrame containing the data.
        target (str): The name of the column to convert.
        check (str): The name of the column to check currency symbol.
        rate (float): The conversion rate.

    Returns:
        pandas.DataFrame: The modified DataFrame.
    '''
    # Conversion rate of 1 ruppee to dollar in 2018 was = 0.012 
    
    # Check if the currency symbol matches the desired currency
    mask = df[check] == '₹'  # Modify this condition as needed

    # Multiply the amount column by the exchange rate for matching rows
    df.loc[mask, target] *= rate

    return df

#converting all ruppee amounts to usd
currency_converter(df=df_2018, target='Amount', check='Currency')

,Company Name,Industry,Round/Series,Amount,Location,About Company,year,Currency
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000.0,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018,NaN
1,Happy Cow Dairy,"Agriculture, Farming",Seed,480000.0,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,2018,₹
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,780000.0,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,2018,₹
3,PayMe India,"Financial Services, FinTech",Angel,2000000.0,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2018,NaN
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,NaN,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,2018,NaN
...,...,...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000.0,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif...",2018,NaN
522,Happyeasygo Group,"Tourism, Travel",Series A,NaN,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.,2018,NaN
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500.0,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...,2018,NaN
524,Droni Tech,Information Technology,Seed,420000.0,"Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...,2018,₹
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000.0,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!,2018,NaN

In [121]:
#dropping the deprecated Currency column
(df_2018
 .drop(columns='Currency', inplace = True)
 )

df_2018

,Company Name,Industry,Round/Series,Amount,Location,About Company,year
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000.0,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018
1,Happy Cow Dairy,"Agriculture, Farming",Seed,480000.0,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,2018
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,780000.0,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,2018
3,PayMe India,"Financial Services, FinTech",Angel,2000000.0,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2018
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,NaN,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,2018
...,...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000.0,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif...",2018
522,Happyeasygo Group,"Tourism, Travel",Series A,NaN,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.,2018
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500.0,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...,2018
524,Droni Tech,Information Technology,Seed,420000.0,"Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...,2018
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000.0,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!,2018

#### **Series Column Cleaning**

In [122]:
# checking the unique values in the column
df_2018['Round/Series'].value_counts()

Round/Series
Seed                                                                                                       280
Series A                                                                                                    73
Angel                                                                                                       37
Venture - Series Unknown                                                                                    37
Series B                                                                                                    20
Series C                                                                                                    16
Debt Financing                                                                                              13
Private Equity                                                                                              10
Corporate Round                                                                                              8
Pre-Seed                                                                                                     6
Series E                                                                                                     5
Grant                                                                                                        4
Series D                                                                                                     3
Secondary Market                                                                                             3
Post-IPO Equity                                                                                              3
Undisclosed                                                                                                  2
Post-IPO Debt                                                                                                2
Non-equity Assistance                                                                                        1
Series H                                                                                                     1
https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593      1
Funding Round                                                                                                1
Name: count, dtype: int64

**Observation:**
There is a google link which could causing the datatype to be different from expected\
**Decision**
clear it

In [123]:
#Cleaning the column
df_2018['Stage'] = (df_2018
                     ['Round/Series']
                     .str
                     .replace(r'http\S+|www\S+', '', regex=True) #cleaning the url and replacing with space
                     .str
                     .strip() # removing empty space
                     .astype('category') #converting to categorical datatype
                     )

df_2018['Stage'].value_counts() #confirming the url has been removed

Stage
Seed                        280
Series A                     73
Venture - Series Unknown     37
Angel                        37
Series B                     20
Series C                     16
Debt Financing               13
Private Equity               10
Corporate Round               8
Pre-Seed                      6
Series E                      5
Grant                         4
Post-IPO Equity               3
Secondary Market              3
Series D                      3
Post-IPO Debt                 2
Undisclosed                   2
Non-equity Assistance         1
Funding Round                 1
Series H                      1
                              1
Name: count, dtype: int64

In [124]:
#dropping the deprecated Round/Series column
(df_2018
 .drop('Round/Series', axis = 1, inplace=True)
 )

df_2018

,Company Name,Industry,Amount,Location,About Company,year,Stage
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",250000.0,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018,Seed
1,Happy Cow Dairy,"Agriculture, Farming",480000.0,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,2018,Seed
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",780000.0,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,2018,Series A
3,PayMe India,"Financial Services, FinTech",2000000.0,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2018,Angel
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",NaN,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,2018,Seed
...,...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",225000000.0,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif...",2018,Series C
522,Happyeasygo Group,"Tourism, Travel",NaN,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.,2018,Series A
523,Mombay,"Food and Beverage, Food Delivery, Internet",7500.0,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...,2018,Seed
524,Droni Tech,Information Technology,420000.0,"Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...,2018,Seed
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",35000000.0,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!,2018,Series C

In [125]:
#confirming datatypes are as expected
df_2018.dtypes

Company Name       object
Industry           object
Amount            float64
Location           object
About Company      object
year                int64
Stage            category
dtype: object

#### **Industry Column Cleaning**

In [126]:
#checking unique industries
df_2018['Industry'].value_counts()

Industry
—                                              30
Financial Services                             15
Education                                       8
Information Technology                          7
Health Care, Hospital                           5
                                               ..
Education, Gaming, Training                     1
Automotive, Search Engine, Service Industry     1
Wealth Management                               1
B2B, Farming, Marketplace                       1
Biotechnology, Health Care, Pharmaceutical      1
Name: count, Length: 405, dtype: int64

In [127]:
#overview of column
df_2018['Industry']

0      Brand Marketing, Event Promotion, Marketing, S...
1                                   Agriculture, Farming
2       Credit, Financial Services, Lending, Marketplace
3                            Financial Services, FinTech
4                     E-Commerce Platforms, Retail, SaaS
                             ...
521     B2B, Business Development, Internet, Marketplace
522                                      Tourism, Travel
523           Food and Beverage, Food Delivery, Internet
524                               Information Technology
525           Biotechnology, Health Care, Pharmaceutical
Name: Industry, Length: 526, dtype: object

**Observations:**
There are multiple items stacked in the column. May make it confusing to know exact industries\
**Decision** 
Split to each individual industry description and maintain only one

**Key Assumption:**
We assume that the first industry description is the primary industry and ignore the rest

In [128]:
#cleaning the industry column
df_2018['Industry'] = (df_2018
                       ['Industry']
                       .str
                       .split(',', expand=True) #split the descriptions separated by comma
                       .pop(0) #pop only the first description
                       .astype('category')
                       )

df_2018['Industry'].value_counts()

Industry
—                                     30
Health Care                           26
Financial Services                    26
E-Commerce                            22
Apps                                  20
                                      ..
Environmental Consulting               1
Enterprise Software                    1
Enterprise Resource Planning (ERP)     1
Embedded Systems                       1
3D Printing                            1
Name: count, Length: 148, dtype: int64

**Note:**
The value_counts of each industry has increased meaning it can be

#### **Location Column Cleaning**

In [129]:
#overview of column
df_2018['Location']

0           Bangalore, Karnataka, India
1            Mumbai, Maharashtra, India
2               Gurgaon, Haryana, India
3           Noida, Uttar Pradesh, India
4      Hyderabad, Andhra Pradesh, India
                     ...
521         Bangalore, Karnataka, India
522             Haryana, Haryana, India
523          Mumbai, Maharashtra, India
524          Mumbai, Maharashtra, India
525          Chennai, Tamil Nadu, India
Name: Location, Length: 526, dtype: object

* Just like Industry, the column has multiple values separated by comma. In this case it is geographical regions.\
They could come in handy. 

**Decision**
Split into separate columns and assign them to city, region and country columns respectively

In [130]:
#splitting Location column and reassigning to city, region and country
df_2018[['City', 'Region', 'Country']]=(df_2018
                                      ['Location']
                                      .str
                                      .split(',', expand=True) #split columns
                                      .astype('category') #changing to category datatype
                                      )
#drop the deprecated Location column
df_2018.drop(columns='Location', inplace=True)

df_2018

,Company Name,Industry,Amount,About Company,year,Stage,City,Region,Country
0,TheCollegeFever,Brand Marketing,250000.0,"TheCollegeFever is a hub for fun, fiesta and f...",2018,Seed,Bangalore,Karnataka,India
1,Happy Cow Dairy,Agriculture,480000.0,A startup which aggregates milk from dairy far...,2018,Seed,Mumbai,Maharashtra,India
2,MyLoanCare,Credit,780000.0,Leading Online Loans Marketplace in India,2018,Series A,Gurgaon,Haryana,India
3,PayMe India,Financial Services,2000000.0,PayMe India is an innovative FinTech organizat...,2018,Angel,Noida,Uttar Pradesh,India
4,Eunimart,E-Commerce Platforms,NaN,Eunimart is a one stop solution for merchants ...,2018,Seed,Hyderabad,Andhra Pradesh,India
...,...,...,...,...,...,...,...,...,...
521,Udaan,B2B,225000000.0,"Udaan is a B2B trade platform, designed specif...",2018,Series C,Bangalore,Karnataka,India
522,Happyeasygo Group,Tourism,NaN,HappyEasyGo is an online travel domain.,2018,Series A,Haryana,Haryana,India
523,Mombay,Food and Beverage,7500.0,Mombay is a unique opportunity for housewives ...,2018,Seed,Mumbai,Maharashtra,India
524,Droni Tech,Information Technology,420000.0,Droni Tech manufacture UAVs and develop softwa...,2018,Seed,Mumbai,Maharashtra,India
525,Netmeds,Biotechnology,35000000.0,Welcome to India's most convenient pharmacy!,2018,Series C,Chennai,Tamil Nadu,India

#### **Final Touches**

In [131]:
df_2018 = (df_2018
           .drop_duplicates() #dropping duplicates
           .drop(columns=['Country','Region']) #drop Country and region column
           .rename(columns = {'Company Name': 'company', 'Industry': 'sector', 
                              'About Company': 'description', 'City': 'location',
                              'Amount':'amount','Stage':'stage'}) #rename columns
           ) 

df_2018.dtypes

company          object
sector         category
amount          float64
description      object
year              int64
stage          category
location       category
dtype: object

#### **KEY QUESTIONS**

1.

## **2019 CLEANING**

In [132]:
#checking if columns are as expected
(df_2019
 .columns
 )

Index(['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does',
       'Founders', 'Investor', 'Amount($)', 'Stage', 'year'],
      dtype='object')

In [133]:
#checking nulls
(df_2019
.isnull()
.sum())

Company/Brand     0
Founded          29
HeadQuarter      19
Sector            5
What it does      0
Founders          3
Investor          0
Amount($)         0
Stage            46
year              0
dtype: int64

* There are nulls in 5 columns. dive further into each column

In [134]:
#checking dtypes
(df_2019
.dtypes)

Company/Brand     object
Founded          float64
HeadQuarter       object
Sector            object
What it does      object
Founders          object
Investor          object
Amount($)         object
Stage             object
year               int64
dtype: object

* The founded column is already in the expected datatype. The other columns need to be checked and cleaned.

#### **Amount Column Cleaning**

In [135]:
(df_2019
 ['Amount($)']
 .unique()
 )

array(['$6,300,000', '$150,000,000', '$28,000,000', '$30,000,000',
       '$6,000,000', 'Undisclosed', '$1,000,000', '$20,000,000',
       '$275,000,000', '$22,000,000', '$5,000,000', '$140,500',
       '$540,000,000', '$15,000,000', '$182,700', '$12,000,000',
       '$11,000,000', '$15,500,000', '$1,500,000', '$5,500,000',
       '$2,500,000', '$140,000', '$230,000,000', '$49,400,000',
       '$32,000,000', '$26,000,000', '$150,000', '$400,000', '$2,000,000',
       '$100,000,000', '$8,000,000', '$100,000', '$50,000,000',
       '$120,000,000', '$4,000,000', '$6,800,000', '$36,000,000',
       '$5,700,000', '$25,000,000', '$600,000', '$70,000,000',
       '$60,000,000', '$220,000', '$2,800,000', '$2,100,000',
       '$7,000,000', '$311,000,000', '$4,800,000', '$693,000,000',
       '$33,000,000'], dtype=object)

* The columns have a currency symbol and commas separating the values. There is also 'Undisclosed' text.

**Decision** To clean the currency symbol and comma and replace undisclosed with None

In [136]:
df_2019['Amount'] = (df_2019
                     ['Amount($)']
                     .str
                     .replace(',|\$','', regex= True) #Remove the comma sign and the currency symbols
                     .replace({'Undisclosed' : None}, regex=True) # replacing Undisclosed with None
                     .astype(float) #converting to float
                     )
df_2019

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage,year,Amount
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN,2019,6300000.0
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C,2019,150000000.0
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding,2019,28000000.0
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D,2019,30000000.0
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN,2019,6000000.0
...,...,...,...,...,...,...,...,...,...,...,...
84,Infra.Market,NaN,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...","$20,000,000",Series A,2019,20000000.0
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...","$693,000,000",NaN,2019,693000000.0
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,"$5,000,000",Series B,2019,5000000.0
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...","$50,000,000",NaN,2019,50000000.0
88,Ess Kay Fincorp,NaN,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India","$33,000,000",NaN,2019,33000000.0

In [137]:
#dropping deprecated column
(df_2019
 .drop(columns=('Amount($)'), inplace= True)
 )
df_2019

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Stage,year,Amount
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,NaN,2019,6300000.0
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,Series C,2019,150000000.0
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey",Fresh funding,2019,28000000.0
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...",Series D,2019,30000000.0
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),NaN,2019,6000000.0
...,...,...,...,...,...,...,...,...,...,...
84,Infra.Market,NaN,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...",Series A,2019,20000000.0
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...",NaN,2019,693000000.0
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,Series B,2019,5000000.0
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...",NaN,2019,50000000.0
88,Ess Kay Fincorp,NaN,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India",NaN,2019,33000000.0

#### **Investor Column Cleaning**

In [138]:
(df_2019
 ['Investor']
 .value_counts() #checking unique investors
 #.astype('category')
)

Investor
Undisclosed                                            3
Trifecta Capital                                       2
Sixth Sense Ventures                                   1
Sunil Gavaskar                                         1
Saama Capital, DSG Consumer Partners                   1
                                                      ..
Paytm, Asian VC fund NPTK, Sabre Partners, Neoplux.    1
Canaan Partners                                        1
IVM Intersurer                                         1
Sequoia Capita                                         1
TPG, Norwest Venture Partners, Evolvence India         1
Name: count, Length: 86, dtype: int64

* There are 86 unique investors for 89 records, there is no need to convert to category as it is inefficient in this case.

In [139]:
df_2019.head(10)

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Stage,year,Amount
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,NaN,2019,6300000.0
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,Series C,2019,150000000.0
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey",Fresh funding,2019,28000000.0
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...",Series D,2019,30000000.0
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),NaN,2019,6000000.0
5,FlytBase,NaN,Pune,Technology,A drone automation platform,Nitin Gupta,Undisclosed,NaN,2019,NaN
6,Finly,NaN,Bangalore,SaaS,It builds software products that makes work si...,"Vivek AG, Veekshith C Rai","Social Capital, AngelList India, Gemba Capital...",NaN,2019,NaN
7,Kratikal,2013.0,Noida,Technology,It is a product-based cybersecurity solutions ...,"Pavan Kushwaha, Paratosh Bansal, Dip Jung Thapa","Gilda VC, Art Venture, Rajeev Chitrabhanu.",Pre series A,2019,1000000.0
8,Quantiphi,NaN,NaN,AI & Tech,It is an AI and big data services company prov...,Renuka Ramnath,Multiples Alternate Asset Management,Series A,2019,20000000.0
9,Lenskart,2010.0,Delhi,E-commerce,It is a eyewear company,"Peyush Bansal, Amit Chaudhary, Sumeet Kapahi",SoftBank,Series G,2019,275000000.0

#### **Headquarter Column Cleaning**

In [140]:
df_2019['location'] = (df_2019
                       ['HeadQuarter']
                       #.value_counts() #checking unique cities
                       .astype('category') #converting to category
                    )
df_2019.location

0           NaN
1        Mumbai
2        Mumbai
3       Chennai
4     Telangana
        ...
84       Mumbai
85     Gurugram
86        Delhi
87        Delhi
88    Rajasthan
Name: location, Length: 89, dtype: category
Categories (17, object): ['Ahmedabad', 'Bangalore', 'Chandigarh', 'Chennai', ..., 'Rajasthan', 'Surat', 'Telangana', 'Uttar pradesh']

* converting to category reduces the entries to 17 categories instead of 89 entries

#### **Sector Column Cleaning**

In [141]:
df_2019['sector'] = (df_2019
                     ['Sector']
                     #.value_counts()
                     .astype('category') #converting to category
                    )
df_2019.sector

0                   Ecommerce
1                      Edtech
2                      Edtech
3             Interior design
4                    AgriTech
               ...
84                  Infratech
85                Hospitality
86    Automobile & Technology
87                 Automobile
88                    Banking
Name: sector, Length: 89, dtype: category
Categories (52, object): ['AI', 'AI & Tech', 'Accomodation', 'AgriTech', ..., 'Transportation', 'Travel', 'Virtual Banking', 'Yoga & wellness']

* converting to category makes the sector column more efficient since it has 52 objects instead of 89

#### **Stage Column Cleaning**

In [142]:
df_2019['stage']= (df_2019
                   ['Stage']
                   #.unique()
                   .fillna('Undisclosed') #fill na with Undisclosed
                   .astype('category') #changing dtype to category
                   .drop(columns='Stage') #drop deprecated column
                   )

df_2019.stage

0       Undisclosed
1          Series C
2     Fresh funding
3          Series D
4       Undisclosed
          ...
84         Series A
85      Undisclosed
86         Series B
87      Undisclosed
88      Undisclosed
Name: stage, Length: 89, dtype: category
Categories (16, object): ['Fresh funding', 'Post series A', 'Pre series A', 'Pre-series A', ..., 'Series E', 'Series F', 'Series G', 'Undisclosed']

* converting to category reduces the number to 15 categories instead of 89 entries
* The Nulls may represent undisclosed information so we fill with Undisclosed

#### **Founded Column Cleaning**

In [143]:
#Dealing with nulls
df_2019['founded'] = (df_2019
                      ['Founded']
                      .fillna((df_2019.Founded.mode()[0])) #fill missing values with mode
                      .astype('int')
                      )
df_2019.founded

0     2015
1     2014
2     2015
3     2014
4     2004
      ...
84    2015
85    2013
86    2016
87    2015
88    2015
Name: founded, Length: 89, dtype: int32

#### **Final Touches**

In [144]:
df_2019 = (df_2019
           .drop_duplicates() #dropping duplicates
           .drop(columns=['HeadQuarter','Sector','Stage','Founded']) #drop deprecated columns
           .rename(columns = {'Company/Brand': 'company', 'Investor':'investor', 
                              'What it does': 'description','Amount':'amount','Founders':'founders'}) #rename columns
           ) 

df_2019.dtypes

company          object
description      object
founders         object
investor         object
year              int64
amount          float64
location       category
sector         category
stage          category
founded           int32
dtype: object

## **2020 CLEANING**

In [145]:
#checking column types
(df_2020
 .head())

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10,year
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None,2020
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None,2020
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None,2020
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None,2020
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None,2020

In [146]:
df_2020.dtypes

Company_Brand     object
Founded          float64
HeadQuarter       object
Sector            object
What_it_does      object
Founders          object
Investor          object
Amount           float64
Stage             object
column10          object
year               int64
dtype: object

**Notes:**
1. Founded column is not in the correct data type
2. The dataset has all the expected columns. The HeadQuarter column should be Headquarter
3. There is a column (column 10) that is not required for the analysis - to be dropped.

In [147]:
# Drop the column10 column
df_2020 = (df_2020
           .drop(columns="column10")
           )
df_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,year
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,2020
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,2020
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,2020
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,2020
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,2020

In [148]:
#checking the shapes of the dataframe
(df_2020
 .shape
 )

(1055, 10)

**Notes:**
1. The dataset has 1055 observations and 10 features, the number of features is more than expected.

In [149]:
# Check for missing values
df_2020.isna().sum()

Company_Brand      0
Founded          213
HeadQuarter       94
Sector            13
What_it_does       0
Founders          12
Investor          38
Amount           254
Stage            464
year               0
dtype: int64

**Observation:**
1. The data has A LOT of many missing values.

In [150]:
# Check for duplicates
df_2020.duplicated().sum()

3

**Observation:**
1. There are 3 duplicates in the data, which will be dropped

In [151]:
# Drop duplicates
#df_2020 = (df_2020
#           .drop_duplicates()
#           )

#### **Amount Column Cleaning**

In [152]:
#filling the NaN values with 0
df_2020['Amount'] = (df_2020
                     ['Amount']
                     .fillna(0)
                     )
df_2020.Amount

0         200000.0
1         100000.0
2              0.0
3         400000.0
4         340000.0
           ...
1050     1500000.0
1051    13200000.0
1052     8000000.0
1053     8043000.0
1054     9000000.0
Name: Amount, Length: 1055, dtype: float64

#### **Note**
Dropping observations is not a solutions to this data cleaning; the problem will be approached in a different manner.

1. The missing values in the `Amount` column has been filled with `0s`
2. The missing values in the `Founded` columns will be filled the mode of the years.
3. All the missing values in the object columns will be filled with `Unknown`, this will ensure the integrity of the data.
4. Columns such as Sector, Investor and stage is having a wrong datatype. We have to convert them to the Categorical Dtype

#### **Founded Column**

In [153]:
# Fill the missing values of the Founded columns with the mode
founded_mode = df_2020['Founded'].mode()[0]

df_2020['founded'] = (df_2020
                      ['Founded']
                      .fillna(founded_mode)
                      .astype('int') #converting to int
                      )

df_2020.founded

0       2019
1       2019
2       2018
3       2020
4       2016
        ...
1050    2015
1051    2015
1052    2012
1053    2015
1054    2017
Name: founded, Length: 1055, dtype: int32

In [154]:
#dropping deprecated column
df_2020 = (df_2020
           .drop(columns='Founded')
           )
df_2020.head(10)

,Company_Brand,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,year,founded
0,Aqgromalin,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,2020,2019
1,Krayonnz,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,2020,2019
2,PadCare Labs,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,0.0,Pre-seed,2020,2018
3,NCOME,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,2020,2020
4,Gramophone,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,2020,2016
5,qZense,Bangalore,AgriTech,qZense Labs is building the next-generation Io...,"Rubal Chib, Dr Srishti Batra","Venture Catalysts, 9Unicorns Accelerator Fund",600000.0,Seed,2020,2019
6,MyClassboard,Hyderabad,EdTech,MyClassboard is a full-fledged School / Colleg...,Ajay Sakhamuri,ICICI Bank.,600000.0,Pre-series A,2020,2008
7,Metvy,Gurgaon,Networking platform,AI driven networking platform for individuals ...,Shawrya Mehrotra,HostelFund,0.0,Pre-series,2020,2018
8,Rupeek,Bangalore,FinTech,Rupeek is an online lending platform that spec...,"Amar Prabhu, Ashwin Soni, Sumit Maniyar","KB Investment, Bertelsmann India Investments",45000000.0,Series C,2020,2015
9,Gig India,Pune,Crowdsourcing,GigIndia is a marketplace that provides on-dem...,"Aditya Shirole, Sahil Sharma","Shantanu Deshpande, Subramaniam Ramadorai",1000000.0,Pre-series A,2020,2017

#### **Final Touches**

In [155]:
# Converting the dtype of Sector, Stage, and Investor from Object to categorical.
for col in ['Sector', 'Investor', "Stage", "HeadQuarter"]:
    df_2020[col] = df_2020[col].astype('category')
    
df_2020.dtypes

Company_Brand      object
HeadQuarter      category
Sector           category
What_it_does       object
Founders           object
Investor         category
Amount            float64
Stage            category
year                int64
founded             int32
dtype: object

In [156]:
#renaming all columns to expected column names
df_2020 = (df_2020
           .rename(columns = {'Company_Brand':'company','HeadQuarter':'location',
                              'Sector':'sector','What_it_does':'description',
                              'Founders':'founders','Investor':'investor', 'Amount':'amount',
                              'Stage':'stage'}) #renaming columns
           )
df_2020.dtypes

company          object
location       category
sector         category
description      object
founders         object
investor       category
amount          float64
stage          category
year              int64
founded           int32
dtype: object

## **2021 CLEANING**

In [157]:
df_2021.head(10)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,year
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A,2021
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None,2021
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D,2021
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C,2021
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed,2021
5,Urban Company,2014.0,New Delhi,Home services,Urban Company (Formerly UrbanClap) is a home a...,"Abhiraj Singh Bhal, Raghav Chandra, Varun Khaitan",Vy Capital,"$188,000,000",None,2021
6,Comofi Medtech,2018.0,Bangalore,HealthTech,Comofi Medtech is a healthcare robotics startup.,Gururaj KB,"CIIE.CO, KIIT-TBI","$200,000",None,2021
7,Qube Health,2016.0,Mumbai,HealthTech,India's Most Respected Workplace Healthcare Ma...,Gagan Kapur,Inflection Point Ventures,Undisclosed,Pre-series A,2021
8,Vitra.ai,2020.0,Bangalore,Tech Startup,Vitra.ai is an AI-based video translation plat...,Akash Nidhi PS,Inflexor Ventures,Undisclosed,None,2021
9,Taikee,2010.0,Mumbai,E-commerce,"Taikee is the ISO-certified, B2B e-commerce pl...","Nidhi Ramachandran, Sachin Chhabra",None,"$1,000,000",None,2021

In [158]:
#checking datatypes
df_2021.dtypes

Company_Brand     object
Founded          float64
HeadQuarter       object
Sector            object
What_it_does      object
Founders          object
Investor          object
Amount            object
Stage             object
year               int64
dtype: object

**Observations:**
Some columns aren't in the expected datatype.

In [159]:
#checking nulls
df_2021.isna().sum()

Company_Brand      0
Founded            1
HeadQuarter        1
Sector             0
What_it_does       0
Founders           4
Investor          62
Amount             3
Stage            428
year               0
dtype: int64

**Observation:** 
There are missing values in most columns, we will fill/drop as appropriate

In [160]:
#check for duplicates
df_2021.duplicated().sum()

19

* There are 19 duplicate records. We will drop them

In [161]:
#drop duplicates
df_2021 = (df_2021
           .drop_duplicates()
           )
df_2021

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,year
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A,2021
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None,2021
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D,2021
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C,2021
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed,2021
...,...,...,...,...,...,...,...,...,...,...
1204,Gigforce,2019.0,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,$3000000,Pre-series A,2021
1205,Vahdam,2015.0,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,IIFL AMC,$20000000,Series D,2021
1206,Leap Finance,2019.0,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,$55000000,Series C,2021
1207,CollegeDekho,2015.0,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, ETS, Man Capital",$26000000,Series B,2021
1208,WeRize,2019.0,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",$8000000,Series A,2021

#### **Founded Column Cleaning**

In [162]:
#checking for nulls
df_2021['Founded'].isna().sum()

1

In [163]:
df_2021['Founded'].unique()

array([2019., 2015., 2012., 2021., 2014., 2018., 2016., 2020., 2010.,
       2017., 1993., 2008., 2013., 1999., 1989., 2011.,   nan, 2009.,
       2002., 1994., 2006., 2000., 2007., 1978., 2003., 1998., 1991.,
       1984., 2004., 2005., 1963.])

* The Founded column has one null and the rest are correctly matched to int datatype
* We will fill the null with the mode

In [164]:
df_2021['founded'] = (df_2021
                      ['Founded']
                      .fillna((df_2021['Founded'].mode()[0])) #filling na with mode
                      .astype('int') #converting to int
                      .drop(columns= 'Founded') #dropping deprecated Founded column
                      )
df_2021.founded

0       2019
1       2015
2       2012
3       2015
4       2021
        ...
1204    2019
1205    2015
1206    2019
1207    2015
1208    2019
Name: founded, Length: 1190, dtype: int32

#### **HeadQuarter Column cleaning**

In [165]:
df_2021['HeadQuarter'].unique()

array(['Bangalore', 'Mumbai', 'Gurugram', 'New Delhi', 'Hyderabad',
       'Jaipur', 'Ahmadabad', 'Chennai', None,
       'Small Towns, Andhra Pradesh', 'Goa', 'Rajsamand', 'Ranchi',
       'Faridabad, Haryana', 'Gujarat', 'Pune', 'Thane', 'Computer Games',
       'Cochin', 'Noida', 'Chandigarh', 'Gurgaon', 'Vadodara',
       'Food & Beverages', 'Pharmaceuticals\t#REF!', 'Gurugram\t#REF!',
       'Kolkata', 'Ahmedabad', 'Mohali', 'Haryana', 'Indore', 'Powai',
       'Ghaziabad', 'Nagpur', 'West Bengal', 'Patna', 'Samsitpur',
       'Lucknow', 'Telangana', 'Silvassa', 'Thiruvananthapuram',
       'Faridabad', 'Roorkee', 'Ambernath', 'Panchkula', 'Surat',
       'Coimbatore', 'Andheri', 'Mangalore', 'Telugana', 'Bhubaneswar',
       'Kottayam', 'Beijing', 'Panaji', 'Satara', 'Orissia', 'Jodhpur',
       'New York', 'Santra', 'Mountain View, CA', 'Trivandrum',
       'Jharkhand', 'Kanpur', 'Bhilwara', 'Guwahati',
       'Online Media\t#REF!', 'Kochi', 'London',
       'Information Technology & Services', 'The Nilgiris', 'Gandhinagar'],
      dtype=object)

**Observations:**
The column has some unexpected values including potential sector names and what it does.

In [166]:
df_2021['location'] = (df_2021
                      ['HeadQuarter']
                      .fillna((df_2021.HeadQuarter.mode()[0])) #filling with mode
                      .replace('\t#REF!','', regex=True) #removing the \t#REF! in some cells
                      .astype('category') #converting to category
                      .drop(columns = 'HeadQuarter') #dropping deprecated column
                      )
df_2021.location

0       Bangalore
1          Mumbai
2          Mumbai
3          Mumbai
4        Gurugram
          ...
1204     Gurugram
1205    New Delhi
1206    Bangalore
1207     Gurugram
1208    Bangalore
Name: location, Length: 1190, dtype: category
Categories (69, object): ['Ahmadabad', 'Ahmedabad', 'Ambernath', 'Andheri', ..., 'Thiruvananthapuram', 'Trivandrum', 'Vadodara', 'West Bengal']

#### **Sector Column Cleaning**

In [167]:
#checking unique entries
df_2021['Sector'].value_counts()

Sector
FinTech                  121
EdTech                   102
Financial Services        59
E-commerce                37
Food & Beverages          36
                        ...
Home Decor                 1
TaaS startup               1
Beverages                  1
Manufacturing startup      1
Staffing & Recruiting      1
Name: count, Length: 254, dtype: int64

In [168]:
df_2021['sector'] = (df_2021
                     ['Sector']
                     .astype('category') #converting to category
                    )
df_2021.sector

0                  AI startup
1                      EdTech
2                      EdTech
3              B2B E-commerce
4                     FinTech
                ...
1204    Staffing & Recruiting
1205         Food & Beverages
1206       Financial Services
1207                   EdTech
1208       Financial Services
Name: sector, Length: 1190, dtype: category
Categories (254, object): ['AI Chatbot', 'AI company', 'AI startup', 'AR startup', ..., 'Water purification', 'Wholesale', 'Wine & Spirits', 'sports']

#### **What_it_does Column Cleaning**

In [169]:
df_2021['description'] = (df_2021
                           ['What_it_does'] #renaming the column
                           )

#### **Founders Column Cleaning**

In [170]:
#overview of the column
df_2021['Founders'].unique()

array(['Pramod Ghadge, Shahid Memon',
       'Mayank Kumar, Phalgun Kompalli, Ravijot Chugh, Ronnie Screwvala',
       'Smita Deorah, Sumeet Mehta', ..., 'Bala Sarda',
       'Arnav Kumar, Vaibhav Singh', 'Vishal Chopra, Himanshu Gupta'],
      dtype=object)

In [171]:
df_2021['founders'] = (df_2021
                       ['Founders'] #renaming columns
                       .fillna('Undisclosed') #filling na with undisclosed
                       )
df_2021.founders.isna().sum()

0

#### **Investor Column Cleaning**

In [172]:
df_2021['investor'] = (df_2021
                       ['Investor']
                       .fillna('Undisclosed Investor') #filling na with undisclosed investor
                       )
df_2021.investor.value_counts()

investor
Undisclosed Investor              61
Inflection Point Ventures         23
Tiger Global                      11
Venture Catalysts                 11
Elevation Capital                  7
                                  ..
GSF, Pras Hanuma                   1
Ajat Hukkoo, Piyush Chaplot        1
Mumbai Angels, Amitesh Pandey      1
Think Investments                  1
3one4 Capital, Kalaari Capital     1
Name: count, Length: 938, dtype: int64

In [173]:
df_2021.investor.unique()

array(['BEENEXT, Entrepreneur First',
       'Unilazer Ventures, IIFL Asset Management',
       'GSV Ventures, Westbridge Capital', 'CDC Group, IDG Capital',
       'Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal', 'Vy Capital',
       'CIIE.CO, KIIT-TBI', 'Inflection Point Ventures',
       'Inflexor Ventures', 'Undisclosed Investor',
       '9Unicorns Accelerator Fund, Metaform Ventures',
       'SucSEED Indovation, IIM Calcutta Innovation Park',
       'Safe Planet Medicare', 'Impact Partners, C4D Partners',
       'Tiger Global Management, InnoVen Capital', 'Novo Tellus Capital',
       'Raintree Family Office, ADB arm',
       'Mumbai Angels, Narendra Shyamsukha', 'Paradigm, Kunal Shah',
       'Matrix Partners India, GIC', 'Chiratae Ventures, JAFCO Asia',
       'Mumbai Angels Network, Expert DOJO', 'GVFL',
       'Kotak Mahindra Bank, FMO', 'Kalaari Capital',
       'NB Ventures, IAN Fund',
       'Sequoia Capital India, Hummingbird Ventures',
       'Gaurav Munjal, Snehil Khanor', 'JITO Angel Network, SOSV',
       'Chiratae Ventures, YourNest Venture Capital', 'STRIVE VC',
       'Venture Catalysts', 'Jaipuria Family Office', 'Amazon',
       'Riso Capital', 'MTG Ventures',
       'Qualcomm Ventures, Warburg Pincus', '9Unicorns', 'Morgan Stanley',
       'Alfa Ventures, Agility Venture Partners',
       'Stellaris Venture Partners, Ramakant Sharma', 'Spanache',
       'DSG Consumer Partners, Saama Capital', 'Hindustan Media Ventures',
       'Stellaris Venture Partners, Omidyar Network India, Flourish Ventures',
       'Angelbay Holdings, Faad Network',
       'Alteria Capital, Chiratae Ventures',
       'WaterBridge Ventures, Info Edge',
       'Carmignac, Falcon Edge Capital', 'Vaibhav Domkundwar, Kunal Shah',
       'Chiratae Ventures, Bharat Innovation Fund',
       'Acko Technology, Services, LetsVenture',
       'Bertelsmann India Investments, Fullerton Financial Holdings',
       'Dragoneer Investment Group, Tiger Global Management',
       'http://100x.vc/',
       'TPG Growth, Caisse de Depot et Placement du Quebec',
       'Centrum Financial Services', 'Chiratae Ventures, BEENEXT',
       'Harsha Bhogle', 'GetVantage, Prakash Katama',
       'Tiger Global Management, Y Combinator Continuity Fund',
       'Michael & Susan Dell Foundation', 'Marquee fintech founders',
       'Falcon Edge India, Norwest Venture Partners',
       'SOSV, Omphalos Ventures India', 'Twitter Ventures, Pawan Munjal',
       'CitiusTech', 'Arena Holdings, Think Investments',
       'T Choithrams BVI, Ardor',
       'Kogta Financial India Limited, ICICI Bank',
       'SucSEED Venture Partners, TMT Connekt',
       'SAIF Partners, Venture Highway', 'Global Founders Capital',
       'JAFCO Asia, Chiratae Ventures', 'Y Combinator',
       'Artha Venture Fund', 'Jitendra Gupta, Amrish Rau',
       'FJ Labs, Brian Norgard', 'Indian Angel Network',
       'Jitendra Gupta, Harsh Shah',
       'Elevation Partners, Emergent Ventures',
       'Kalaari Capital, Dream Capital', 'Lumikai',
       'Matrix Partners India', 'C4D Partners', 'Bertelsmann India',
       'Iron Pillar, Nordstar, Binny Bansal',
       'FMC, Omnivore, Blume Ventures', 'InvestCorp',
       'Pritesh Kumar, Bharat Gupta',
       'Y Combinator, 9Unicorns, Titan Capital',
       'Unicorn India Ventures, SEA Fund, Devdatt Shah',
       'Matrix Partners India, Elevation Capital',
       'Avaana Capital, Orios Ventures', 'Punit Balan',
       'Y Combinator, Broom Ventures, Kunal Shah',
       'Skycatcher, AET Fund, BAce Capital, Dream Incubator, 1Up Ventures',
       'Eclear Leasing', 'First Cheque, Letsventure',
       'Sequoia Capital India, BEENEXT', 'Velocity',
       'Tribe Capital, Moore Strategic Ventures (MSV)',
       'Fireside Ventures', 'Inflection Point Ventures, ONGC',
       'Y Combinator, Incubate Fund India',
       'Titan Capital, Rockstud Capital,  John Abraham, WEH Ventures',
       'Info Edge Ventures', 'NB Ventures', 'Accel',
       'Binny Bansal, Kunal Shah', 'TradeCred', 'Unicorn India Ventures',
       'UC Inclusive Credit, Western Capital',
       'IIFL India Private Equity Fund, Smiti Holding & Trading Company',
       'Faering Capital', 'responsAbility Investments, Blue Orchard',
       'Sanchit Agarwal, Sujan Sinha, Michael Cooke',
       'CRV, Nexus Venture Partners',
       'Salesforce Ventures, Sierra Ventures, Sequoia Capital India’s Surge',
       'Micelio Fund, growX ventures',
       'IIFL Wealth, Asset Management, Northern Arc Capital',
       'Better Capital, Ashish Achrekar', 'IAN', 'Alpha Wave Incubation',
       'Point One Capital, Yatra Angel Network (YAN), Opus Consulting, Manipal Technologies.',
       'Microsoft', 'Shell Ventures, Yamaha, Kunal Shah',
       'We Founder Circle',
       'Saama Capital, DSG Consumer Partners, Sharrp Ventures',
       'Tiger Global’s Scott Schleifer', 'Elevation Capital',
       'Venture Catalysts, Auxano Capital, Venture Garage, Yoga Capital, Ah!Ventures, Lead Angels',
       'Sixth Sense Ventures', '9Unicorns, Sequoia Capital India’s Surge',
       'Anicut Angel Fund, 9 Unicorns', 'Info Edge, FalconEdge',
       'WestCap Group, Tomales Bay Capital',
       'Chiratae Ventures, Better Capital',
       'Siguler Guff, Baillie Gifford',
       'IIFL AMC, Mankind Pharma Family Office, Aroa Ventures',
       'ITI Growth Opportunities', 'Amrac Investment Trust',
       'Bhavin Turakhia', 'Amara Raja Batteries',
       'India Infoline Finance', 'Venture Highway', 'BEENEXT, Orios',
       'Axilor', 'Westbridge Capital, Tanglin Venture Partners',
       '100X.VC\ufeff,\ufeff Titan Capital, Rahul Mathur, Gaurav Mandlecha',
       'IIFL, Amicus Capital, Ananta Capital',
       'Venture Highway, Endiya Partners',
       'Verlinvest, Sequoia Capital India', 'Anicut Angel Fund',
       'Tiger Global',
       'Alphabit Fund, Fulgur Ventures, Stacks Accelerator, SBX Capital',
       'Roots Ventures, Velo Partners', 'Nexus Venture Partners',
       'Mumbai Angels Network, Huddle, Lumis Partners',
       'SucSEED Indovation Fund',
       'Potencia Ventures, Bisk Ventures, LetsVenture, Ronnie Screwvala, Arihant Patni',
       'Better Capital, First Cheque, Titan Capital', 'Evolvence Capital',
       'SARA ELGI',
       'Nubank, Global Founders Capital, Sequoia Capital India, Matrix Partners India',
       'ah! Ventures High Tables',
       'Eight Roads Ventures, Think Investments, Mankekar Family Office',
       'A91 Partners', 'Chiratae Ventures', 'Sequoia’s Surge',
       'Lead Angels, Titan Capital, Pravega Ventures',
       'Accel Partners, Elevation Capital',
       'Inflection Point Ventures, Rockstud Capital, FirstPort Capital, Bliss Flow Investments Pvt Ltd',
       'Anicut Angel Fund, Axilor Ventures',
       'Ecosystem Ventures, CMM group',
       'Mumbai Angels Network, Social Alpha', 'Disrupt ADQ, QIC',
       'Valar Ventures, IA Ventures', 'Sequoia Capital India', 'Zomato',
       'Lightspeed, Times Group, Tanglin Venture Partners',
       'Binny Bansal, Deep Kalra, Dr Ashish Gupta, Gokul Rajaram, Shirish Nadkarni',
       'Tuscan Ventures, Ohm Stock Brokers, Artha Venture Fund',
       'Signal Peak Ventures', 'Evolvence, Hero Enterprise',
       'BlueOrchard Impact Investment Managers', 'Steadview Capital',
       'MassMutual Ventures', 'YourNest VC', 'Accel India',
       'Vijay Shekhar Sharma, Ritesh Agarwal, Ankiti Bose',
       'TVS Motor, Zoho', 'IIFL Asset Management',
       'Oasis Capital, Scorpio VC, DeltaHub Capital',
       'Titan Capital, Haresh Chawla, AngelList Syndicate',
       '9Unicorns, Ashneer Grover', 'Founders Room Capital',
       '9Unicorns, ZNL', 'WEH Ventures', '$22000000', '$5000000',
       'Kunal Shah, Deepinder Goyal, Abhiraj Singh Bhal',
       'Guild Capital, RPSG Capital Ventures',
       'General Catalyst, Eight Roads Ventures, Elevation Capital',
       'NB Ventures, Earlsfield Capital', 'Varun Alagh, Sahil Barua',
       'SoftBank Vision Fund 2', 'Tribe Capital, Prime Venture Partners',
       'Jungle Ventures', 'Marquee international institutional investors',
       'Alkeon Capital', 'Y Combinator, Harvard Management',
       'Y Combinator\ufeff, \ufeffGoodwater Capital',
       'Shrishti Sahu, Umang Vohra', 'Astra Ventures, Gaurav Jaitly',
       'Capital A, Collective Artists Network',
       'Aditya Singhal, Nishant Sinha', 'Pentathlon Ventures',
       'Alpha Wave Ventures II, Tiger Global Management, SoftBank Vision Fund II',
       'KRAFTON', 'Chiratae Ventures, Lenskart Vision Fund', 'Recur Club',
       'DevX Venture Fund', 'DevX Venture Fund, Blume Founder Fund',
       'Ajith Daneil', 'Aurum Proptech', 'Y-Combinator',
       'The Good Glamm Group', 'Invus', 'Tiger Global, Prosus Ventures',
       'Shuru Up, Ankit Kedia, Arun Gupta',
       'Ankit Mehrotra, Saurabh Aggarwal', 'Sauce.vc',
       '3one4 Capital, Sixth Sense Ventures',
       'YCombinator, Justin Mateen, Pioneer Fund',
       'Sojitz Corporation, Stride Ventures',
       'IIFL Wealth, TPG Growth, Norwest Venture Partners',
       'Nabventures, Avaana Capital', 'Fluid Ventures, Mulberry Silks',
       'Rajesh Rajendran', 'Mike Novogratz, Neeraj Arora',
       'Reliance Digital Health', 'Ritu Marya Family Office.',
       'Ten Innovate', 'Tiger Global, Sequoia Capital',
       'Shark Tank India', 'Premji Invest, Steadview Capital', 'Sequoia',
       'Apis Insurtech Fund I', 'SK Tripathi, Sanjeev Gupta',
       'Hardcastle Petrofer', 'Ocean View Investment, QED Fund',
       'Omidyar Network, Tencent Holdings',
       'ITI Growth Opportunities Fund, Unit-E Ventures',
       'InnoVen Capital, Nexus Venture Partners', 'CIIE.CO',
       'Orios Venture Partners', 'Omidyar Network India',
       'Wipro venture capital arm', 'Yuj Ventures, Sixth Sense Ventures',
       'Premji Invest, Mirae Asset Naver Asia Growth Fund, Alpine Capital',
       'Inflection Point Ventures, SucSEED Venture Partners',
       'Anas Rahman Junaid, Vinod Jose', 'Capital One, Arrowroot Capital',
       'YourNest Venture Capital', 'Incubate Fund India',
       'Kunal Shah, Greg Kidd', 'InnoVen Capital, TEAMFund',
       'Venture Catalysts, 9Unicorns Accelerator Fund',
       'Venture Highway, Rohit Bansal', 'Fresco Capital, Social Starts',
       'Y Combinator, Rebright Partners',
       'Rohit Goutamchand, India CXO Fund',
       'Rajasthan Venture Capital Fund, ACPL Exports',
       'Amplo, Insight Partners', 'Better Capital', 'Justin Mateen',
       'View Trade Holding Corp',
       'InnoVen Capital, Bertelsmann India Investments', 'ScoopWhoop',
       'Canaan Valley Capital, Glade Brook Capital Partners',
       'Vijay Shekhar Sharma, Dr Ritesh Malik',
       'RTP Global, Harshil Mathur', 'Paragon Partners, NABVENTURES',
       'EXPERT DOJO', 'Saama Capital, India Quotient',
       'InCred Financial Services, Vivriti Capital, Northern Arc Capital',
       'ah! Ventures', 'Somak Ghosh, M V Nair', 'Wurk',
       'Plutus Wealth Management, Turtle Entertainment',
       'Ambiga Subramanian, Goutham Ekollu', 'Accel, Owl Ventures',
       'Rajan Anadan', 'Jesse Lucas',
       'IDFC Private Equity, Bessemer Venture Partners',
       'Sequoia Capital India, Accel',
       'Venture Catalysts, Tahseen Consulting', 'Equanimity Ventures',
       'BlueOrchard Finance S A, Gojo & Company',
       'Better Capital, Titan Capital', 'Gojo & Company', 'Mumbai Angels',
       'Pegasus Tech Ventures, Base Partners', '3one4 Capital, Accel',
       'Hitesh Oberoi, Lightbox', 'YES Bank', 'Campus Fund',
       'Hyperplane Venture Capital', 'Matrix Partners India, RTP Global',
       'Info Edge, Ruizheng Investment', 'Quess Corp India',
       'Sunil Kumar Singhvi, 9Unicorns Accelerator Fund',
       'India Accelerator’s Angel Investor Network', 'Shell Foundation',
       'Jimmy Singh', 'Kunal Shah, Deepak Abbot', 'Accel, Nexus Venture',
       'Singapore Angel Network, Artha India Ventures',
       'Starfish Growth Partners, Investpad', 'Hashed', 'Titan Capital',
       "Zerodha's Rainmatter Capital, Better Capital",
       'Sixth Sense Ventures, Colgate Palmolive',
       'Lightbox, Evolvence India Fund', 'Tomorrow Capital',
       'Inflection Point Ventures, DLabs',
       'InnoVen Capital, Steadview Capital', 'BlackSoil Capital',
       'PointOne Capital, Core91 VC', 'A91 Partners, Faering Capital',
       'Blockchain Capital, SBI Ven Capital',
       'Baring Private Equity Partners India, Talbros',
       'Sequoia Capital India, 3one4 Capital',
       'Prosus Ventures, RTP Global',
       'U.S. International Development Finance Corp, responsAbility',
       'Binance Labs, Zee Prime Capital', 'RP-Sanjiv Goenka Group',
       'IvyCap Ventures', 'Zone Startups In', 'Blue Ashva Capital',
       'Ribbit Capital, Kunal Shah', 'Ecom Express', 'InnoVen Capital',
       'Satish Grampurohit', 'Amit Singhal, Raine Ventures',
       'Octahedron Capital, Moonstone Capital',
       'Tiger Global, Dragoneer Investment Group, Steadview Capital, General Atlantic',
       'CDC Group, Aavishkaar Venture Capital', 'GSF, Pras Hanuma',
       'Ajat Hukkoo, Piyush Chaplot', 'Mumbai Angels, Amitesh Pandey',
       'Think Investments',
       'Nexus Venture Partners, 23 High Networth Individuals (HNIs)',
       'Yatra Angel Network, BEENEXT',
       'Orios Venture Partners, Matrix Partners India', 'Trishneet Arora',
       'ContCentric', 'Siana Capital', 'DST Global, General Catalyst',
       'Anthill Ventures', 'InnoVen Capital, InnoVen Capita',
       '3one4 Capital, DSP Group', 'Enzia Ventures, AngelList',
       'Steadview Capital, Insight Partners',
       'Invested Development, Pratithi Investment Trust',
       'Dhianu Das, Agility Venture Partners', 'Hindustan Media Venture',
       'Omnivore', 'Awign Enterprises',
       'Siddharth Bhaskar Shah, Upsparks', 'S Chand',
       'Goldman Sachs, Tata Capital', 'growX ventures, Venture Gurukool',
       'Mount Judi India Growth Fund', 'GEF Capital’s South Asia Fund',
       'Sunil Sethia, Sunil Kumar Singhvi, Manish Mardia',
       'Sequoia Capital', 'Mechanism Capital, DACM',
       'Northern Arc Capital, Niyogin Fintech Limited, Credit Saison India, Vivriti Capital',
       'Pearl Investment LLC', '021 Capital, Sparrow Capital',
       'Kotak Investment Advisors Limited, Gruhas Proptech', 'VANS Group',
       'Sachin Tendulkar', 'Xentel Investments', 'Accel Partners',
       'Waterbridge, Lumikai', 'Auxano, Falcon5', 'Infoedge ventures',
       'JITO Angel Network', 'Jupiter', 'Unitus Ventures',
       'GIC, Infoedge', 'pi Ventures',
       'Northern Arc, Caspian Impact Investments', 'Sofina Ventures SA',
       'Tiger Global, Flipkart Ventures',
       'Inflection Point Ventures, Rockstud Capital, Pentathlon Ventures, Prophetic Ventures syndicate',
       'Prime VP', 'Tribe Capital, IFC Emerging Asia Fund, VEF',
       'Sequoia’s Surge, Y Combinator', 'Endiya Partners',
       'Gokul Rajaram, Pureland Venture, Wavemaker Partners',
       'Callapina Capital', 'Khosla Ventures',
       'Accel Partners, Matrix India',
       'Omidyar Network India, Innoven Capital', 'Temasek, Falcon Edge',
       'Deep Kalra, Ashish Kashyap, Rajesh Magow',
       'IAN, Social Alpha, Startup Oasis', 'Capital India',
       'FirstCry, Lightspeed Venture Partners',
       'Accel, LetsVenture, 1Crowd', 'SAB Holdings',
       'Lightspeed Venture Partners, Elevation Capital',
       'Mumbai Angels Network', 'Jayanti Kanani',
       'LeapFrog, Khosla Ventures', 'Ananta Capital',
       'Northern Arc, Vivriti Capital', 'TATA Cleantech Capital',
       'Aqua-Spark', 'Climate Angels Fund',
       'Sequoia’s Surge, Nexus Venture Partners',
       'Entrepreneur First (EF), GrowX Ventures', 'Zephyr Peacock',
       'ADM Capital', 'SoftBank Vision Fund, Hindustan Media Venture',
       '100x Entrepreneurs', 'Healthcare veterans, PIEDS',
       'Bank of Baroda', 'YCombinator', 'IAN Fund', 'Vishal Gupta',
       'Mirae Asset, H&M', 'Kotak Securities', 'Klub',
       'Balaji Srinivasan', '$1000000', 'BASF Venture Capital GmbH',
       'Rebright Partners, Flourish Ventures', 'Sequoia Surge',
       'Titan Capital, Sequoia Capital', 'Parthiv Group',
       'Omkar Pandharkame, Ketaki Ogale',
       'GetVantage, Velocity, Shiprocket Capital', 'Krafton Inc, Omidyar',
       'Blume Ventures, Exfinity Venture Partners',
       'Beyond Next Ventures, M Venture Partners', 'AdvantEdge Founders',
       'Faering Capital, Sequoia Capital India, IIFL Alternate Asset Managers',
       'Sixth Sense Ventures, NABVENTURES', 'Temasek, Multiples PE',
       'Griffin Gaming Partners', 'Zinnia Global',
       'InfoEdge Ventures, IAN Fund', 'IIFL, Mumbai Angels',
       'BEENEXT, Sequoia’s Surge', 'Antler India', 'Bharat Inclusion',
       'Fidelity, BlackRock', 'Blacksoil', 'Speciale Invest',
       'Canbank Venture Capital Fund', 'W Health Ventures',
       '021 Capital, Y Combinator', 'Anand Prakash Sharma',
       'Axilor Ventures', 'velocity.in', 'March Capital, Tribe Capital',
       'Learn Capital', 'RTP Global', 'IAN, Yuj Ventures',
       'Sequoia’s Surge, Accel Partners', 'Uday Sodhi', 'Fidelity, GIC',
       'Auxano', 'Angelist India',
       'Stanford Angels and Entrepreneurs India, Anjali Bansal',
       'Vy Capital, Wellington Management', 'Avon Cycles',
       'Matrix Partners India, 021 Capital', 'HNIs, Angels',
       'NewQuest Capital Partners, Motilal Oswal Private Equity',
       'Lasons India', 'Pankaj Chaddah, Srivatsan Rajan', 'Paytm',
       'BlackSoil, CLSA Capital Partners', 'Saama, Whiteboard Capital',
       'Indian Angel Network, Titan Capital, Lead Angels',
       'The Chennai Angels',
       'Venture Highway, Stellaris Venture Partners',
       'State Bank of India, Y Combinator', 'Sanjay Baldwa, Ajay Jain',
       'InfoEdge', 'Nitin Passi, Ruchirans Jaipuria',
       'Stride Ventures, InnoVen Capital',
       'Venture Catalysts, Jeevak Gupta',
       'Triodos Investment Management, SAIF Partners', 'N+1 Capital',
       'DST Global, RTP Global', 'Amit Singal, Manish Aggarwal',
       'Trifecta Capital Advisors, Blume Ventures',
       'Kumar Aakash, Amit Singhal', 'growX ventures',
       'Shaival Desai, Alkemi Venture Partners',
       'Aavishkaar Venture Capital, YWC Venture Capital',
       'Alteria Capital', 'Tiga Investments, Baron Capital',
       'Venture Catalysts, 9unicorns', 'Qualgro',
       'Amit Lakhotia, Pravin Jadhav', 'Pravega Ventures',
       'Greenoaks Capital, Elevation Capital',
       'Sequoia Capital India, rocketship.vc', 'BLinC Invest',
       'Spring Marketing Capital', 'Chaitanya Kalipatnapu, Kedar Gavane',
       'Roha Investment Managers, angel investor Saumil Shah',
       'TNF Ventures, Razorpay', 'Lok Capital, IIFL Asset Management',
       'Nvidia Inception', 'Tiger Global Management, DST Global',
       'Marquee investors', 'Ashish Hemrajani, Parikshit Dar',
       'India Accelerator, Lyxel&Flamingo', 'Roshan Abbas, Ritesh Malik',
       'Goat Capital, JAM Fund', 'General Catalyst, Jungle Ventures',
       'Blackstone Group, ADQ', 'GoAhead Ventures',
       'Paradigm Shift Capital, AngelList India', 'Arali Ventures',
       'Anup Kumar Yama', 'Aryaman Vir', 'iSeed, Titan Capital',
       'Research Innovation Incubation Design Labs', 'Sushil Agarwal',
       'IvyCap Ventures, Endiya Partners',
       'GUSEC Seed Fund, DeVX Venture Fund', 'Tiger Global, Sequoia',
       'Quadria Capital', 'Blume Ventures, Whiteboard Capital',
       'Ashwini Kakkar. 9Unicorns', 'Ashish Shah', 'Faad Network',
       'Paragon Partners, Aavishkaar Capital', 'Krafton, Lumikai',
       'Indovation Fund, Mumbai Angels', 'Gunosy, Blume Ventures',
       'Edge Ventures, Elevation Capital', 'CDC Group',
       'Titan Capital, Kunal Shah',
       'Yamaha Motors, Omidyar Network India, Eight Roads Ventures',
       'Norfund, The Rise Fund', 'Siti Cable',
       'Crossbeam Venture Partners', 'Aavishkaar Capital', 'Mapmyindia',
       'Jyoti Bansal', 'Accor',
       'SRI Capital, Picus Capital, Alkemi Capital',

#### **Amount Column Cleaning**

In [174]:
df_2021['Amount'].unique()

array(['$1,200,000', '$120,000,000', '$30,000,000', '$51,000,000',
       '$2,000,000', '$188,000,000', '$200,000', 'Undisclosed',
       '$1,000,000', '$3,000,000', '$100,000', '$700,000', '$9,000,000',
       '$40,000,000', '$49,000,000', '$400,000', '$300,000',
       '$25,000,000', '$160,000,000', '$150,000', '$1,800,000',
       '$5,000,000', '$850,000', '$53,000,000', '$500,000', '$1,100,000',
       '$6,000,000', '$800,000', '$10,000,000', '$21,000,000',
       '$7,500,000', '$26,000,000', '$7,400,000', '$1,500,000',
       '$600,000', '$800,000,000', '$17,000,000', '$3,500,000',
       '$15,000,000', '$215,000,000', '$2,500,000', '$350,000,000',
       '$5,500,000', '$83,000,000', '$110,000,000', '$500,000,000',
       '$65,000,000', '$150,000,000,000', '$300,000,000', '$2,200,000',
       '$35,000,000', '$140,000,000', '$4,000,000', '$13,000,000', None,
       '$Undisclosed', '$2000000', '$800000', '$6000000', '$2500000',
       '$9500000', '$13000000', '$5000000', '$8000000', '$1000000',
       'Upsparks', '$200000', '$12000000', '$1500000', '$1700000',
       '$5500000', '$400000', '$150000000', '$4000000', '$100000000',
       '$500000', '$15000000', '$10000000', '$40000000', '$225000000',
       '$6700000', '$1300000', '$20000000', '$250000', '$21000000',
       '$1200000', '$52000000', '$3800000', '$17500000', '$42000000',
       '$2300000', '$7000000', '$30000000', '$450000000', '$28000000',
       '$300000', '$3500000', '$8500000', '$25000000', '$3000000',
       '$37000000', '$370000000', '$700000', '$16000000', '$100000',
       '$44000000', '$770000', '$125000000', '$35000000', '$50000000',
       '$4900000', '$145000000', '$22000000', '$70000000', '$6600000',
       '$32000000', '$24000000', '$725000', '$461000', 'Series C', 'Seed',
       '$96000000', '$60000000', '$500000000', '$266000000', '$4500000',
       '$325000000', '$6500000', '$1600000', '$150000', '$225000',
       '$85000000', '$235000', '$260000', '$2900000', '$53000000',
       '$1100000', '$86000000', '$130000', '$$100,00', '$111000000',
       '$265000', '$76000000', '$100,000,000', '$75,000,000',
       '$3,800,000', '$12,000,000', '$1,600,000', '$260,000',
       '$1,000,000,000', '$18,000,000', '$20,000,000', '$350,000',
       '$95,000,000', '$4,100,000', '$5,200,000', '$8,000,000',
       '$1,400,000', '$2,600,000', '$900,000', '$250,000', '$16,000,000',
       '$7,000,000', '$11,000,000', '$280,000,000', '$50,000,000',
       '$14,300,000', '$81,000,000', '$1,300,000', '$8,200,000',
       '$70,000,000', '$720,000', '$600000', '$9000000', '$1800000',
       '$330000', '$undisclosed', '$200000000', '$36000000', '$67000000',
       '$10200000', '$220000000', '$108000000', '$75000000', '$450000',
       '$660000000', 'ah! Ventures', '$45000000', '$3200000', '$370000',
       'Pre-series A', 'ITO Angel Network, LetsVenture', '$48000000',
       '$3600000', '$11000000', '$192000000', '$65000000', '$1400000',
       '$1900000', '$41000000', '$144000000', '$5200000', '$270000000',
       '$140000', '$250000000', '$320000', '$350000000', '$4800000',
       '$38000000', '$125000', '$26000000', '$64000000', '$620000',
       '$900000', 'JITO Angel Network, LetsVenture', '$2600000',
       '$1,250,000', '$400,000,000', '$1,700,000', '$27,000,000',
       '$234,000,000', '$460,000,000', '$13,500,000', '$5,100,000',
       '$195,000,000', '$125,000', '$45,000,000', '$200,000,000',
       '$7,300,000', '$6,300,000', '$12,500,000', '$24,000,000',
       '$140,000', '$16,500,000', '$340,000', '$43,000,000',
       '$150,000,000', '$3300000', '$92000000', '$17000000', '$135000000',
       '$$1,55,000', '$2100000', '$840000000', '$248000000', '$4300000',
       '$570000', '$2200000', '$4700000', '$300000000', '$260000000',
       '$140000000', '$175000000', '$19000000', '$810000', '$7500000',
       '$600000000', '$90000000', '$5700000', '$6750000', '$78000000',
       '$5400000', '$115000000', '$255000000', '$18000000', '$570000000',
       '$550000', '$2700000', '$4200000', '$31000000', '$540000',
       '$14000000', '$340000', '$', '$6200000', '$750000', '$6300000',
       '$23000000', '$55000000'], dtype=object)

In [175]:
df_2021['amount'] = (df_2021
                     ['Amount']
                     .replace('\$|,','', regex=True) #replacing $ and comma with blank
                     .replace({'Undisclosed|undisclosed': 0}, regex=True) # replacing the Undisclosed with 0
                     .shift()
                     )

df_2021.amount.unique()

array([None, '1200000', '120000000', '30000000', '51000000', '2000000',
       '188000000', '200000', 0, '1000000', '3000000', '100000', '700000',
       '9000000', '40000000', '49000000', '400000', '300000', '25000000',
       '160000000', '150000', '1800000', '5000000', '850000', '53000000',
       '500000', '1100000', '6000000', '800000', '10000000', '21000000',
       '7500000', '26000000', '7400000', '1500000', '600000', '800000000',
       '17000000', '3500000', '15000000', '215000000', '2500000',
       '350000000', '5500000', '83000000', '110000000', '500000000',
       '65000000', '150000000000', '300000000', '2200000', '35000000',
       '140000000', '4000000', '13000000', '9500000', '8000000',
       'Upsparks', '12000000', '1700000', '150000000', '100000000',
       '225000000', '6700000', '1300000', '20000000', '250000',
       '52000000', '3800000', '17500000', '42000000', '2300000',
       '7000000', '450000000', '28000000', '8500000', '37000000',
       '370000000', '16000000', '44000000', '770000', '125000000',
       '50000000', '4900000', '145000000', '22000000', '70000000',
       '6600000', '32000000', '24000000', '725000', '461000', 'Series C',
       'Seed', '96000000', '60000000', '266000000', '4500000',
       '325000000', '6500000', '1600000', '225000', '85000000', '235000',
       '260000', '2900000', '86000000', '130000', '10000', '111000000',
       '265000', '76000000', '75000000', '1000000000', '18000000',
       '350000', '95000000', '4100000', '5200000', '1400000', '2600000',
       '900000', '11000000', '280000000', '14300000', '81000000',
       '8200000', '720000', '330000', '200000000', '36000000', '67000000',
       '10200000', '220000000', '108000000', '450000', '660000000',
       'ah! Ventures', '45000000', '3200000', '370000', 'Pre-series A',
       'ITO Angel Network LetsVenture', '48000000', '3600000',
       '192000000', '1900000', '41000000', '144000000', '270000000',
       '140000', '250000000', '320000', '4800000', '38000000', '125000',
       '64000000', '620000', 'JITO Angel Network LetsVenture', '1250000',
       '400000000', '27000000', '234000000', '460000000', '13500000',
       '5100000', '195000000', '7300000', '6300000', '12500000',
       '16500000', '340000', '43000000', '3300000', '92000000',
       '135000000', '155000', '2100000', '840000000', '248000000',
       '4300000', '570000', '4700000', '260000000', '175000000',
       '19000000', '810000', '600000000', '90000000', '5700000',
       '6750000', '78000000', '5400000', '115000000', '255000000',
       '570000000', '550000', '2700000', '4200000', '31000000', '540000',
       '14000000', '', '6200000', '750000', '23000000', '55000000'],
      dtype=object)

**Observation:**
There are some values from other columns that are wrongly placed in the Amount column.\
**Decision:**
Move them into the correct columns

#### **Stage Column Cleaning**

In [176]:
#checking unique values
df_2021['Stage'].unique()

array(['Pre-series A', None, 'Series D', 'Series C', 'Seed', 'Series B',
       'Series E', 'Pre-seed', 'Series A', 'Pre-series B', 'Debt',
       '$1200000', 'Bridge', 'Seed+', 'Series F2', 'Series A+',
       'Series G', 'Series F', 'Series H', 'Series B3', 'PE', 'Series F1',
       'Pre-series A1', '$300000', 'Early seed', 'Series D1', '$6000000',
       '$1000000', 'Seies A', 'Pre-series', 'Series A2', 'Series I'],
      dtype=object)

**Observation:**
There are values from the Amount column that are incorrectly placed in the Stage column.\
**Decision:**
Return them to the Amount Column

In [177]:
#getting the wrongly placed columns
df_2021['result'] = (df_2021
                     ['Stage']
                     .str
                     .startswith('$')
                     )
#viewing the misplaced columns
df_2021.loc[df_2021['result'] == True]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,year,founded,location,sector,description,founders,investor,amount,result
98,FanPlay,2020.0,Computer Games,Computer Games,A real money game app specializing in trivia g...,YC W21,"Pritesh Kumar, Bharat Gupta",Upsparks,$1200000,2021,2020,Computer Games,Computer Games,A real money game app specializing in trivia g...,YC W21,"Pritesh Kumar, Bharat Gupta",1000000,True
538,Little Leap,2020.0,New Delhi,EdTech,Soft Skills that make Smart Leaders,Holistic Development Programs for children in ...,Vishal Gupta,ah! Ventures,$300000,2021,2020,New Delhi,EdTech,Soft Skills that make Smart Leaders,Holistic Development Programs for children in ...,Vishal Gupta,3000000,True
551,BHyve,2020.0,Mumbai,Human Resources,A Future of Work Platform for diffusing Employ...,Backed by 100x.VC,"Omkar Pandharkame, Ketaki Ogale","ITO Angel Network, LetsVenture",$300000,2021,2020,Mumbai,Human Resources,A Future of Work Platform for diffusing Employ...,Backed by 100x.VC,"Omkar Pandharkame, Ketaki Ogale",150000,True
674,MYRE Capital,2020.0,Mumbai,Commercial Real Estate,Democratising Real Estate Ownership,Own rent yielding commercial properties,Aryaman Vir,None,$6000000,2021,2020,Mumbai,Commercial Real Estate,Democratising Real Estate Ownership,Own rent yielding commercial properties,Aryaman Vir,900000,True
677,Saarthi Pedagogy,2015.0,Ahmadabad,EdTech,"India's fastest growing Pedagogy company, serv...",Pedagogy,Sushil Agarwal,"JITO Angel Network, LetsVenture",$1000000,2021,2015,Ahmadabad,EdTech,"India's fastest growing Pedagogy company, serv...",Pedagogy,Sushil Agarwal,0,True

**Observations:**
There are 5 misplaced entries

In [178]:
#def replacer()
#setting condition for swap
condition = (df_2021['result'] == True)

# moving the values from Stage to Amount column
df_2021.loc[condition, ['Amount']] = df_2021.loc[condition, ['Stage']]

In [179]:
#confirming they have been swapped
df_2021.Amount.unique()

array(['$1,200,000', '$120,000,000', '$30,000,000', '$51,000,000',
       '$2,000,000', '$188,000,000', '$200,000', 'Undisclosed',
       '$1,000,000', '$3,000,000', '$100,000', '$700,000', '$9,000,000',
       '$40,000,000', '$49,000,000', '$400,000', '$300,000',
       '$25,000,000', '$160,000,000', '$150,000', '$1,800,000',
       '$5,000,000', '$850,000', '$53,000,000', '$500,000', '$1,100,000',
       '$6,000,000', '$800,000', '$10,000,000', '$21,000,000',
       '$7,500,000', '$26,000,000', '$7,400,000', '$1,500,000',
       '$600,000', '$800,000,000', '$17,000,000', '$3,500,000',
       '$15,000,000', '$215,000,000', '$2,500,000', '$350,000,000',
       '$5,500,000', '$83,000,000', '$110,000,000', '$500,000,000',
       '$65,000,000', '$150,000,000,000', '$300,000,000', '$2,200,000',
       '$35,000,000', '$140,000,000', '$4,000,000', '$13,000,000', None,
       '$Undisclosed', '$2000000', '$800000', '$6000000', '$2500000',
       '$9500000', '$13000000', '$5000000', '$8000000', '$1000000', nan,
       '$200000', '$12000000', '$1500000', '$1700000', '$5500000',
       '$400000', '$150000000', '$4000000', '$100000000', '$500000',
       '$15000000', '$10000000', '$40000000', '$225000000', '$6700000',
       '$1300000', '$20000000', '$250000', '$21000000', '$1200000',
       '$52000000', '$3800000', '$17500000', '$42000000', '$2300000',
       '$7000000', '$30000000', '$450000000', '$28000000', '$300000',
       '$3500000', '$8500000', '$25000000', '$3000000', '$37000000',
       '$370000000', '$700000', '$16000000', '$100000', '$44000000',
       '$770000', '$125000000', '$35000000', '$50000000', '$4900000',
       '$145000000', '$22000000', '$70000000', '$6600000', '$32000000',
       '$24000000', '$725000', '$461000', 'Series C', 'Seed', '$96000000',
       '$60000000', '$500000000', '$266000000', '$4500000', '$325000000',
       '$6500000', '$1600000', '$150000', '$225000', '$85000000',
       '$235000', '$260000', '$2900000', '$53000000', '$1100000',
       '$86000000', '$130000', '$$100,00', '$111000000', '$265000',
       '$76000000', '$100,000,000', '$75,000,000', '$3,800,000',
       '$12,000,000', '$1,600,000', '$260,000', '$1,000,000,000',
       '$18,000,000', '$20,000,000', '$350,000', '$95,000,000',
       '$4,100,000', '$5,200,000', '$8,000,000', '$1,400,000',
       '$2,600,000', '$900,000', '$250,000', '$16,000,000', '$7,000,000',
       '$11,000,000', '$280,000,000', '$50,000,000', '$14,300,000',
       '$81,000,000', '$1,300,000', '$8,200,000', '$70,000,000',
       '$720,000', '$600000', '$9000000', '$1800000', '$330000',
       '$undisclosed', '$200000000', '$36000000', '$67000000',
       '$10200000', '$220000000', '$108000000', '$75000000', '$450000',
       '$660000000', '$45000000', '$3200000', '$370000', 'Pre-series A',
       '$48000000', '$3600000', '$11000000', '$192000000', '$65000000',
       '$1400000', '$1900000', '$41000000', '$144000000', '$5200000',
       '$270000000', '$140000', '$250000000', '$320000', '$350000000',
       '$4800000', '$38000000', '$125000', '$26000000', '$64000000',
       '$620000', '$900000', '$2600000', '$1,250,000', '$400,000,000',
       '$1,700,000', '$27,000,000', '$234,000,000', '$460,000,000',
       '$13,500,000', '$5,100,000', '$195,000,000', '$125,000',
       '$45,000,000', '$200,000,000', '$7,300,000', '$6,300,000',
       '$12,500,000', '$24,000,000', '$140,000', '$16,500,000',
       '$340,000', '$43,000,000', '$150,000,000', '$3300000', '$92000000',
       '$17000000', '$135000000', '$$1,55,000', '$2100000', '$840000000',
       '$248000000', '$4300000', '$570000', '$2200000', '$4700000',
       '$300000000', '$260000000', '$140000000', '$175000000',
       '$19000000', '$810000', '$7500000', '$600000000', '$90000000',
       '$5700000', '$6750000', '$78000000', '$5400000', '$115000000',
       '$255000000', '$18000000', '$570000000', '$550000', '$2700000',
       '$4200000', '$31000000', '$540000', '$14000000', '$340000', '$',
       '$6200000', '$750000', '$6300000', '$23000000', '$55000000'],
      dtype=object)

In [180]:
df_2021[['Stage','Amount']].value_counts()

Stage         Amount
Pre-series A  $1000000        20
Seed          $Undisclosed    18
              Undisclosed     15
              $1,000,000      14
              $3000000        10
                              ..
              $340,000         1
              $32000000        1
              $3,500,000       1
              $2900000         1
Series I      $76000000        1
Name: count, Length: 384, dtype: int64

In [181]:
df_2021 = (df_2021
           .rename(columns = {'Company_Brand': 'company', 'Stage': 'stage'}) #renaming columns
           .drop(columns= ['Founded','HeadQuarter','Sector','What_it_does','Founders', 'Investor', 'Amount', 'result']) #dropping deprecated columns
           )

df_2021.columns

Index(['company', 'stage', 'year', 'founded', 'location', 'sector',
       'description', 'founders', 'investor', 'amount'],
      dtype='object')

## **COMBINING ALL CLEANED YEARS**

In [182]:
#combining all 4 years into one dataframe
dfs = [df_2018,df_2019,df_2020,df_2021]

comb_df = pd.concat(dfs)
comb_df

,company,sector,amount,description,year,stage,location,founders,investor,founded
0,TheCollegeFever,Brand Marketing,250000.0,"TheCollegeFever is a hub for fun, fiesta and f...",2018,Seed,Bangalore,NaN,NaN,NaN
1,Happy Cow Dairy,Agriculture,480000.0,A startup which aggregates milk from dairy far...,2018,Seed,Mumbai,NaN,NaN,NaN
2,MyLoanCare,Credit,780000.0,Leading Online Loans Marketplace in India,2018,Series A,Gurgaon,NaN,NaN,NaN
3,PayMe India,Financial Services,2000000.0,PayMe India is an innovative FinTech organizat...,2018,Angel,Noida,NaN,NaN,NaN
4,Eunimart,E-Commerce Platforms,NaN,Eunimart is a one stop solution for merchants ...,2018,Seed,Hyderabad,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1204,Gigforce,Staffing & Recruiting,2000000,A gig/on-demand staffing company.,2021,Pre-series A,Gurugram,"Chirag Mittal, Anirudh Syal",Endiya Partners,2019.0
1205,Vahdam,Food & Beverages,3000000,VAHDAM is among the world’s first vertically i...,2021,Series D,New Delhi,Bala Sarda,IIFL AMC,2015.0
1206,Leap Finance,Financial Services,20000000,International education loans for high potenti...,2021,Series C,Bangalore,"Arnav Kumar, Vaibhav Singh",Owl Ventures,2019.0
1207,CollegeDekho,EdTech,55000000,"Collegedekho.com is Student’s Partner, Friend ...",2021,Series B,Gurugram,Ruchir Arora,"Winter Capital, ETS, Man Capital",2015.0
1208,WeRize,Financial Services,26000000,India’s first socially distributed full stack ...,2021,Series A,Bangalore,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",2019.0

* The combined data has 2859 rows and 10 columns

In [183]:
#checking we have all the columns
comb_df.columns

Index(['company', 'sector', 'amount', 'description', 'year', 'stage',
       'location', 'founders', 'investor', 'founded'],
      dtype='object')

In [184]:
#checking the combined column dtypes
comb_df.dtypes

company         object
sector          object
amount          object
description     object
year             int64
stage           object
location        object
founders        object
investor        object
founded        float64
dtype: object

In [185]:
#checking comb_df nulls
comb_df.isna().sum()

company          0
sector          18
amount         164
description      0
year             0
stage          885
location       113
founders       540
investor       563
founded        525
dtype: int64

**Observation:**
1. There are a number of missing values in unexpected columns.\ 
2. We expected 525 missing values in the investors, founded and founders column because they are missing in the 2018 dataset but we got more than that.\
3. The other missing values are unexpected and we have to look into further

In [186]:
#checking for duplicates
comb_df.duplicated().sum()

3

* There are 3 duplicates, we will drop them.

In [187]:
#dropping duplicates
comb_df.drop_duplicates()

,company,sector,amount,description,year,stage,location,founders,investor,founded
0,TheCollegeFever,Brand Marketing,250000.0,"TheCollegeFever is a hub for fun, fiesta and f...",2018,Seed,Bangalore,NaN,NaN,NaN
1,Happy Cow Dairy,Agriculture,480000.0,A startup which aggregates milk from dairy far...,2018,Seed,Mumbai,NaN,NaN,NaN
2,MyLoanCare,Credit,780000.0,Leading Online Loans Marketplace in India,2018,Series A,Gurgaon,NaN,NaN,NaN
3,PayMe India,Financial Services,2000000.0,PayMe India is an innovative FinTech organizat...,2018,Angel,Noida,NaN,NaN,NaN
4,Eunimart,E-Commerce Platforms,NaN,Eunimart is a one stop solution for merchants ...,2018,Seed,Hyderabad,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1204,Gigforce,Staffing & Recruiting,2000000,A gig/on-demand staffing company.,2021,Pre-series A,Gurugram,"Chirag Mittal, Anirudh Syal",Endiya Partners,2019.0
1205,Vahdam,Food & Beverages,3000000,VAHDAM is among the world’s first vertically i...,2021,Series D,New Delhi,Bala Sarda,IIFL AMC,2015.0
1206,Leap Finance,Financial Services,20000000,International education loans for high potenti...,2021,Series C,Bangalore,"Arnav Kumar, Vaibhav Singh",Owl Ventures,2019.0
1207,CollegeDekho,EdTech,55000000,"Collegedekho.com is Student’s Partner, Friend ...",2021,Series B,Gurugram,Ruchir Arora,"Winter Capital, ETS, Man Capital",2015.0
1208,WeRize,Financial Services,26000000,India’s first socially distributed full stack ...,2021,Series A,Bangalore,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",2019.0

In [188]:
#checking the description of the combined data
comb_df.describe(include = 'all')

,company,sector,amount,description,year,stage,location,founders,investor,founded
count,2859,2841,2695.0,2859,2859.000000,1974,2746,2319,2296,2334.000000
unique,2214,595,618.0,2691,NaN,75,140,1981,1778,NaN
top,BharatPe,FinTech,0.0,BYJU'S is an educational technology company th...,NaN,Seed,Bangalore,"Ashneer Grover, Shashvat Nakrani",Undisclosed Investor,NaN
freq,10,174,391.0,5,NaN,600,861,7,61,NaN
mean,NaN,NaN,NaN,NaN,2020.017838,NaN,NaN,NaN,NaN,2015.953728
std,NaN,NaN,NaN,NaN,1.087188,NaN,NaN,NaN,NaN,4.147257
min,NaN,NaN,NaN,NaN,2018.000000,NaN,NaN,NaN,NaN,1963.000000
25%,NaN,NaN,NaN,NaN,2020.000000,NaN,NaN,NaN,NaN,2015.000000
50%,NaN,NaN,NaN,NaN,2020.000000,NaN,NaN,NaN,NaN,2016.000000
75%,NaN,NaN,NaN,NaN,2021.000000,NaN,NaN,NaN,NaN,2019.000000
max,NaN,NaN,NaN,NaN,2021.000000,NaN,NaN,NaN,NaN,2021.000000

**Observations:**
There are a number of missing values in different columns. \
**Decision:**
Look into each column

### **Cleaning the Combined Data Columns**

##### **Sector Column**

In [189]:
#viewing the rows with nulls
comb_df[comb_df['sector'].isna()]

,company,sector,amount,description,year,stage,location,founders,investor,founded
41,VMate,NaN,100000000.0,A short video platform,2019,Undisclosed,NaN,NaN,Alibaba,2015.0
49,Awign Enterprises,NaN,4000000.0,It supplies workforce to the economy,2019,Series A,Bangalore,"Annanya Sarthak, Gurpreet Singh, Praveen Sah","Work10M, Michael and Susan Dell Foundation, Ea...",2016.0
52,TapChief,NaN,1500000.0,It connects individuals in need of advice in a...,2019,Pre series A,Bangalore,"Shashank Murali, Binay Krishna, Arjun Krishna",Blume Ventures.,2016.0
56,KredX,NaN,26000000.0,Invoice discounting platform,2019,Series B,Bangalore,Manish Kumar,Tiger Global Management,2015.0
57,m.Paani,NaN,5500000.0,It digitizes and organises local retailers,2019,Series A,Mumbai,Akanksha Hazari,"AC Ventures, Henkel",2015.0
518,Text Mercato,NaN,649600.0,Cataloguing startup that serves ecommerce plat...,2020,Series A,Bangalore,"Kiran Ramakrishna, Subhajit Mukherjee",1Crowd,2015.0
569,Magicpin,NaN,7000000.0,"It is a local discovery, rewards, and commerce...",2020,Series D,Gurugram,"Anshoo Sharma, Brij Bhushan",Samsung Venture Investment Corporation,2015.0
687,Leap Club,NaN,340000.0,Community led professional network for women,2020,Pre seed round,Gurugram,"Ragini Das, Anand Sinha","Whiteboard Capital, FirstCheque, Artha India V...",2015.0
699,Juicy Chemistry,NaN,650000.0,It focuses on organic based skincare products,2020,Series A,NaN,Pritesh Asher,Akya Ventures,2014.0
707,Magicpin,NaN,3879000.0,"It is a local discovery, rewards, and commerce...",2020,NaN,Gurugram,"Anshoo Sharma, Brij Bhushan",Lightspeed Venture Partners,2015.0
732,Servify,NaN,250000.0,It is a technology company which serves as a p...,2020,NaN,Mumbai,Sreevathsa Prabhakar,Barkawi,2015.0
746,Wagonfly,NaN,500000.0,Contactless shopping and delivery experience b...,2020,NaN,Bangalore,Raghavendra Prasad,Investment Trust of India,2018.0
763,DrinkPrime,NaN,0.0,Water purifier subscription service,2020,Seed Round,Bangalore,"Manas Ranjan Hota, Vijender Reddy","Abhishek Goyal, Bharat Jaisinghani, FirstCheque",2015.0
809,Kitchens Centre,NaN,500000.0,Offers solutions to cloud kitchens by providin...,2020,Seed Round,Delhi,Lakshay Jain,AngelList India,2019.0
918,Innoviti,NaN,5000000.0,Digital payments solutions company,2020,NaN,Bangalore,Rajeev Agrawal,FMO,2015.0
926,Brick&Bolt,NaN,1500000.0,Operates in the residential construction space,2020,Pre series A,Bangalore,"Jayesh Rajpurohit, Arpit Rajpurohit",Surge,2018.0
1012,Toddle,NaN,0.0,Collaboration and productivity platform for te...,2020,NaN,Bengaluru,"Deepanshu Arora, Parita Parekh",Matrix Partners India,2015.0
1031,HaikuJAM,NaN,3400000.0,Creative writing mobile platform,2020,NaN,NaN,Neer Sharma,"Lightbox. Social Capital, Dunce Capital",2015.0

**Observations:**
There are 18 rows with nulls in the sector.\
**Decision:**
Since the rows have other important data, we will fill the nulls with the same sector from other companies with similar descriptions.

In [190]:
#using thefuzz library to do string matching
from thefuzz import process, fuzz

In [252]:
#slicing the descriptions of the rows with missing sectors
checks = (comb_df
          ['description']
          .loc[(comb_df['sector'].isna())] #locating rows where the sector is na
          .to_list() #saving to a list
          )
checks

['A short video platform',
 'It supplies workforce to the economy',
 'It connects individuals in need of advice in a specific domain to individuals who have expertise in the same',
 'Invoice discounting platform',
 'It digitizes and organises local retailers',
 'Cataloguing startup that serves ecommerce platforms',
 'It is a local discovery, rewards, and commerce platform',
 'Community led professional network for women',
 'It focuses on organic based skincare products',
 'It is a local discovery, rewards, and commerce platform',
 'It is a technology company which serves as a platform for brands to offer end-to-end solutions to their users',
 'Contactless shopping and delivery experience by using radio frequency to tag retail items',
 'Water purifier subscription service',
 'Offers solutions to cloud kitchens by providing commercial space and kitchen infrastructure to assisting with branding and other services',
 'Digital payments solutions company',
 'Operates in the residential construction space',
 'Collaboration and productivity platform for teachers across the world',
 'Creative writing mobile platform']

In [229]:
#matching using the fuzz
#returns a series of descriptions similar to the ones with missing sectors
guide = [] #a list of the similar descriptions and their match rate
for item in checks:
    pointer = process.extractOne(item, 
                                 (comb_df['description'].loc[~(comb_df['sector'].isna())]), #slices the description of those that DO NOT have nulls in their sector
                                 scorer=fuzz.token_sort_ratio)
    guide.append(pointer)

df_=pd.DataFrame(guide, columns=['description','match','og_index']) #converting guide to dataframe for ease of indexing the comb_df
df_

                                          description  match  og_index
0                                Short video platform     95       530
1   An end-to-end CX platform enabled with the gig...     52       508
2   RiseBird provides on-demand 2.5K + expert vide...     53       513
3                             Onine learning platform     67       568
4                    India's Largest Desi Meals Brand     57       213
5                    API development platform startup     58       648
6   Online food delivery and restaurant discovery ...     64       801
7        Community led professional network for women    100       558
8   Sells its organic and beauty products via mark...     59       766
9   Online food delivery and restaurant discovery ...     64       801
10  Teachmint is an all-in-one education technolog...     60       586
11  Perpule is a self-checkout product for retail ...     57       388
12          Subscription-based Water purifier startup     79       534
13  Transform buildings into beautiful, collaborat...     56        46
14                 Digital payments solutions company    100       646
15       Operates vernacular-language based education     53       754
16  Taimei Technology provides a cloud platform fo...     65       306
17                  Rooter is a mobile-based platform     65        59

In [247]:
#extracting the sector of the matched description
fills = []
for item in df_['og_index']:
    fill = (comb_df['sector'].iloc[item])
    fills.append(fill)
    
fills

['Technology',
 'Fashion',
 'Food and Beverage',
 'SaaS',
 'Finance',
 'Tech Startup',
 'Logistics',
 'Robotics & AI',
 'Healthcare',
 'Logistics',
 'Accomodation',
 'Health Insurance',
 'E-commerce',
 'Financial Services',
 'FinTech',
 'CleanTech',
 'Wedding',
 'Sports']

In [257]:
#creating a dict for filling the nulls
fill_map = dict(zip(checks,fills))
fill_map

{'A short video platform': 'Technology',
 'It supplies workforce to the economy': 'Fashion',
 'It connects individuals in need of advice in a specific domain to individuals who have expertise in the same': 'Food and Beverage',
 'Invoice discounting platform': 'SaaS',
 'It digitizes and organises local retailers': 'Finance',
 'Cataloguing startup that serves ecommerce platforms': 'Tech Startup',
 'It is a local discovery, rewards, and commerce platform': 'Logistics',
 'Community led professional network for women': 'Robotics & AI',
 'It focuses on organic based skincare products': 'Healthcare',
 'It is a technology company which serves as a platform for brands to offer end-to-end solutions to their users': 'Accomodation',
 'Contactless shopping and delivery experience by using radio frequency to tag retail items': 'Health Insurance',
 'Water purifier subscription service': 'E-commerce',
 'Offers solutions to cloud kitchens by providing commercial space and kitchen infrastructure to assisting with branding and other services': 'Financial Services',
 'Digital payments solutions company': 'FinTech',
 'Operates in the residential construction space': 'CleanTech',
 'Collaboration and productivity platform for teachers across the world': 'Wedding',
 'Creative writing mobile platform': 'Sports'}

In [258]:
#filling the nulls in the sector column with the fill_map
comb_df['sector'] = comb_df['sector'].fillna(comb_df['description'].map(fill_map))

In [259]:
comb_df.isna().sum()

company          0
sector           0
amount         164
description      0
year             0
stage          885
location       113
founders       540
investor       563
founded        525
dtype: int64