# **CAREER ACCELERATOR LP1 - PROJECT**

### **Introduction:**

Ideas, creativity, and execution are essential for a start-up to flourish. But are they enough? Investors provide start-ups and other entrepreneurial ventures with the capital---popularly known as "funding"---to think big, grow rich, and leave a lasting impact. In this project, you are going to analyse funding received by start-ups in India from 2018 to 2021. You will find the data for each year of funding in a separate csv file in the dataset provided. In these files you'll find the start-ups' details, the funding amounts received, and the investors' information.

### **Scenario:**
My team Has been tasked with analyzing the Indian Startup Ecosystem. The analysis should provide insight as to the best course of action for the company.

### **Task:**

Our task is to develop a unique story from this dataset by stating and testing a hypothesis, asking questions, perform analysis and share insights with appropriate visualisations.

# **INDIAN STARTUP ECOSYSTEM ANALYSIS 2018 - 2021**

# **1. Business Understanding**

To be able to understand anything, We must first break it apart and examine it's components before we understand how it works as a whole. The task is to perform an analysis of the 'Indian Start-Up Ecosystem', but what exactly do each of these mean? Let's dive into the definitions of each of the elements in the task;

#### **Definitions** ####
##### **Ecosystem:**
In natural sciences, ‘ecosystems’ are generally defined as a system, or a group of interconnected elements, formed by the interaction of a community of organisms with their environment. 

##### **Startup:**
A startup or start-up is a company or project undertaken by an entrepreneur to seek, develop, and validate a scalable business model. Startups are new businesses that intend to grow large beyond the solo founder. At the beginning, startups face high uncertainty and have high rates of failure, but a minority of them do go on to become successful and influential.

##### **India:**
India, country that occupies the greater part of South Asia. India is made up of 28 states and eight union territories, and its national capital is New Delhi. It is the seventh-largest country by area and the most populous country as of June 2023.

#### **So What is a Start-Up Ecosystem and why should we care?**

A startup ecosystem is community of people, startups in their various stages and various types of organizations (funders, governments, etc) in a location (physical or virtual), interacting as a system to create and scale new startups. 

Neither biological nor startup ecosystems can be created, designed or built by an outside actor. While this makes the term ‘start-up ecosystem’ hard to grasp, it does underline that start-ups operate in complex and highly dynamic environments. For this reason, it is particularly important to take sufficient time to analyse and understand the ecosystem before designing interventions to partake in it.

Just like biological ecosystems, a startup ecosystem consists of different elements, which can be individuals, groups, organisations and institutions that form a community by interacting with one another, but also environmental determinants that have an influence on how these actors work and interconnect; in startup ecosystems, these can be laws and policies or cultural norms.

![**A Start-Up Ecosystem**](https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/StartupEcosystem.png/300px-StartupEcosystem.png)

#### **Previous Studies / Research**

In nature, for any and all participants to thrive, the ecosystem must be healthy and in balance. For a company this could be the best indicator for whether to invest in an ecosystem or not. Previous studies and researchers have identified 5 key aspects of an ecosystem that can be tracked to measure it's vibrance and and these are:


**1. What is the Density and ecosystem value?**  \
A first step to mapping an ecosystem is to look at its actual size, growth, and value. This can be tracked by the number of new startups founded in a region during a specific period but also the total combined valuation of all these companies over time, and even break them down by funding year to monitor each cohort. Looking at the number of exits, especially the larger ones are also an interesting indicator of startup success.

**2. How does the Funding activity look in the Ecosystem?** \
To assess the health of a startup ecosystem we need to have an eye on the quality, quantity, and ease of access to funding. To evaluate the ease of access to funding, start tracking early-stage funding rounds. Their volume and growth over time will let us know if start-ups are getting the support they need to take their business off the ground. The location of the investors will help you to identify foreign VCs already investing in your Indian startup ecosystem and allow us to build bridges for potential collaboration and partnerships.

**3. Market reach and scaling opportunities** \
The easiest way to gauge the success of your startups is to watch the unicorns (measured in terms of companies valued at over $1 billion) in your ecosystem. Although it may be a metric not relevant in the future (due to the increase in number of unicorns), it remains an interesting indicator of startup ecosystem success.

**4.Knowledge and innovation** \
Innovation and entrepreneurship often flourish alongside world-class knowledge institutes and R&D incentives. These institutions often foster high-impact innovation, collaboration, and success across sectors. You can measure the level of innovation and new technology in your local ecosystem through research and patent activity, and by keeping tabs on the number of spinouts your local knowledge institutions produce. 

**5. Connectedness, Talent, Diversity, and more…** \
A vibrant ecosystem is not simply a collection of isolated elements, the connections between the elements matter just as much as the elements themselves. The metrics for connectedness and access to quality and diverse talent are a little more complex. You could however look out for the number of accelerators & incubators in your region, on job boards to access the type of talent your startups are looking for the most and on investment heatmaps to understand the breadth of various industries or depth of expertise present in your community.

### **Business Objective** 
To find out whether to invest in the Indian start-up ecosystem or not.

#### **Hypothesis**
Null - The Indian Startup Ecosystem is healthy and worth an investment\
Alternative  - The Indian Startup Ecosystem is weak and not worthy of investment

#### **Key Questions**

Using metrics similar to those of previous researchers enables the company to easily compare the Indian case with other global thereby giving the company a broader worldview and the ability to make a more informed decision. 
This is to mean our Key questions will be influenced heavily by the body of previous research.

**1. What is the Total Value of the Indian Startup Ecosystem?**
* How Many startups were founded in the period
* How Much Money has the ecosystem receive in funding 

**2. How has the Ecosystem changed over time?**
* What is the change in performance year on year
* Which region has the best performance

**3. What is the Success rate of Start-ups in the ecosystem?**
* Are there any unicorns from the ecosystem
* How Many Unicorns

**4. Who is already in the Ecosystem?**
* How many companies are already involved in the ecosystem
* What fields are they invested in

**5. Which is the best performing sector in the ecosystem?**
* Sector with highest amount raised
* Sector with most start-ups

#### **Success Criteria**

1. To produce a dashboard that showcases the metrics monitoring the health of the Indian Start-up Ecosystem.
2. To provide an objective metric that can be used to compare with other startup ecosystems.
3. If decision is to invest, to provide guidance on the best path of investment into the Indian Startup Ecosystem.

# **2. Data Understanding**

### **Data Preparation**

#### **Importations**

In [45]:
# import all necessary libraries
import os
import pandas as pd
import numpy as np
import pyodbc
from dotenv import dotenv_values

#remove pandas display limits
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# Set precision
pd.set_option("display.precision", 2)

#hide warnings
import warnings

warnings.filterwarnings('ignore')


#confrimation all libraries loaded
print("all libraries loaded successfully")

all libraries loaded successfully

### **Database Connection**

In [46]:
#reading data from database
#Load environment variables from .env file into a dictionary variable
environment_variables=dotenv_values('.env')

# Get the values for the credentials you set in the '.env' file
database = environment_variables.get("DB_NAME")
server = environment_variables.get("SERVER_NAME")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")

#Connecting to the database
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

# Using the connect method of the pyodbc library.
# This will connect to the server. 
connection=pyodbc.connect(connection_string)

print("connected successfully")

connected successfully

#### **Reading the Data**

##### *YEAR: 2018*

In [47]:
# import 2018 data from GitHub
# Available from Azubi Africa Career Accelerator LP1 Repository as csv

df_2018 = pd.read_csv("https://raw.githubusercontent.com/Azubi-Africa/Career_Accelerator_LP1-Data_Analysis/main/startup_funding2018.csv")

df_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

##### *YEAR: 2019*

In [48]:
# import 2019 data from csv
df_2019 = pd.read_csv("startup_funding2019.csv")
df_2019.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

##### *YEAR: 2020*

In [49]:
#reading the 2020 SQL table into a dataframe

query='''SELECT * 
        FROM dbo.LP1_startup_funding2020'''
        
df_2020=pd.read_sql(query,connection)

df_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

##### *YEAR: 2021*

In [50]:
#reading the 2021 SQL table into a dataframe

query='''SELECT * 
        FROM dbo.LP1_startup_funding2021'''
        
df_2021=pd.read_sql(query,connection)

df_2021.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

**Notes:** \
    1. The data for each year is saved in variables named 'df_year'

## **Exploratory Data Analysis**

The data provided is expected to have the following columns to be used in the analysis:


|  | **COLUMN NAME** | **DESCRIPTION** | **EXPECTED DATATYPE** |
|--|-----------------|-----------------|-----------------------|
|**1**| **Company/Brand** | Name of the company/start-up | Object |
|**2**| **Founded** | Year start-up was founded | Datetime / int / float |
|**3**| **Sector** | Sector of service | Object |
|**4**| **What it does** | Description about Company | Object |
|**5**| **Founders** | Founders of the Company | Object |
|**6**| **Investor** | Investors | Object |
|**7**| **Amount(\$)** | Raised funds | float / int |
|**8**| **Stage** | Round of funding reached | Object / int |

#### **1. EDA FOR 2018**

In [51]:
#checking info
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

The dataframe has 6 columns and 526 rows

**Notes:**
1. The columns are less than those expected, This means there is probably some missing/incomplete data.
2. The column names do not match with those expected, they need to be changed to match.
3. Some columns are not in the same datatype as expected.

In [52]:
#checking nulls
df_2018.isnull().sum()

Company Name     0
Industry         0
Round/Series     0
Amount           0
Location         0
About Company    0
dtype: int64

There are no nulls in the dataset

In [53]:
#checking for duplicates
df_2018.duplicated().sum()

1

There is one duplicate record\
**Decision:**
    To drop the duplicate column.

In [54]:
#describing the data
df_2018.describe(include = 'all')

,Company Name,Industry,Round/Series,Amount,Location,About Company
count,526,526,526,526,526,526
unique,525,405,21,198,50,524
top,TheCollegeFever,—,Seed,—,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
freq,2,30,280,148,102,2

#### **2. EDA FOR 2019**

In [55]:
#checking the info
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

The data has 9 columns and 89 records

**Notes:**
1. The dataset has all the expected columns and they are properly named
2. The amount column is not in the expected datatype

In [56]:
#checking nulls
df_2019.isnull().sum()

Company/Brand     0
Founded          29
HeadQuarter      19
Sector            5
What it does      0
Founders          3
Investor          0
Amount($)         0
Stage            46
dtype: int64

**Notes:**
There are a number of null values in the dataset.

In [57]:
#checking for duplicates
df_2019.duplicated().sum()

0

There are no duplicates in the dataframe

#### **3. EDA FOR 2020**

In [58]:
#  View the data
df_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [59]:
#checking the shapes of the dataframe
df_2020.shape

(1055, 10)

**Notes:**
1. The dataset has 1055 observations and 10 features, the number of features is morethan expected.

In [60]:
# Checking the info of the Dataframe
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

**Notes:**
1. Founded column is not in the correct data type
2. The dataset has all the expected columns. The HeadQuarter column should be Headquarter
3. There is a column (column 10) that is not required for the analysis - to be dropped.

In [61]:
# Check for missing values
df_2020.isna().any()

Company_Brand    False
Founded           True
HeadQuarter       True
Sector            True
What_it_does     False
Founders          True
Investor          True
Amount            True
Stage             True
column10          True
dtype: bool

**Notes:**
1. The data has so many missing values.

In [62]:
# Check for missing values
df_2020.isna().sum()

Company_Brand       0
Founded           213
HeadQuarter        94
Sector             13
What_it_does        0
Founders           12
Investor           38
Amount            254
Stage             464
column10         1053
dtype: int64

In [63]:
# Check for duplicates
df_2020.duplicated().sum()

3

**Note:**
1. There are 3 duplicates in the data, which will be dropped

In [64]:
# Descriptive statistics
df_2020.describe(include='all')

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
count,1055,842.00,961,1042,1055,1043,1017,8.01e+02,591,2
unique,905,NaN,77,302,990,927,848,NaN,42,2
top,Nykaa,NaN,Bangalore,Fintech,Provides online learning classes,Falguni Nayar,Venture Catalysts,NaN,Series A,Pre-Seed
freq,6,NaN,317,80,4,6,20,NaN,96,1
mean,NaN,2015.36,NaN,NaN,NaN,NaN,NaN,1.13e+08,NaN,NaN
std,NaN,4.10,NaN,NaN,NaN,NaN,NaN,2.48e+09,NaN,NaN
min,NaN,1973.00,NaN,NaN,NaN,NaN,NaN,1.27e+04,NaN,NaN
25%,NaN,2014.00,NaN,NaN,NaN,NaN,NaN,1.00e+06,NaN,NaN
50%,NaN,2016.00,NaN,NaN,NaN,NaN,NaN,3.00e+06,NaN,NaN
75%,NaN,2018.00,NaN,NaN,NaN,NaN,NaN,1.10e+07,NaN,NaN
max,NaN,2020.00,NaN,NaN,NaN,NaN,NaN,7.00e+10,NaN,NaN

In [65]:
# Checking the uniqueness of the data
df_2020.nunique()

Company_Brand    905
Founded           26
HeadQuarter       77
Sector           302
What_it_does     990
Founders         927
Investor         848
Amount           300
Stage             42
column10           2
dtype: int64

In [66]:
# Drop the column10 column
df_2020.drop(columns="column10", inplace=True)
df_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None

In [67]:
# Drop duplicates
df_2020.drop_duplicates(inplace=True)
df_2020.duplicated().sum()

0

In [68]:
# Renaming the Amount column
df_2020.rename(columns= {"Amount" : "Amount($)",}, inplace=True)
df_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None

In [69]:
# Filling the **Amount($)** missing values with 0
df_2020['Amount($)'].fillna(0, inplace=True)
df_2020['Amount($)'].head

<bound method NDFrame.head of 0       2.00e+05
1       1.00e+05
2       0.00e+00
3       4.00e+05
4       3.40e+05
5       6.00e+05
6       6.00e+05
7       0.00e+00
8       4.50e+07
9       1.00e+06
10      2.00e+06
11      0.00e+00
12      0.00e+00
13      1.20e+06
14      6.00e+05
15      6.60e+08
16      1.20e+05
17      7.50e+06
18      0.00e+00
19      1.00e+06
20      0.00e+00
21      5.00e+06
22      1.00e+06
23      5.00e+05
24      3.00e+06
25      1.00e+07
26      1.45e+08
27      1.00e+08
28      0.00e+00
29      0.00e+00
30      2.10e+07
31      4.00e+06
32      2.00e+07
33      1.00e+06
34      5.60e+05
35      0.00e+00
36      4.00e+05
37      2.75e+05
38      2.00e+07
39      1.00e+06
40      0.00e+00
41      4.50e+06
42      5.00e+06
43      1.50e+07
44      0.00e+00
45      3.90e+08
46      7.00e+06
47      0.00e+00
48      5.10e+06
49      5.00e+05
50      7.00e+08
51      2.30e+06
52      0.00e+00
53      0.00e+00
54      7.00e+05
55      5.00e+05
56      7.00e+06
57      1.00e+05
58      1.00e+06
59      1.90e+07
60      3.00e+06
61      0.00e+00
62      0.00e+00
63      0.00e+00
64      0.00e+00
65      0.00e+00
66      4.00e+05
67      1.00e+06
68      0.00e+00
69      0.00e+00
70      9.00e+06
71      2.10e+07
72      0.00e+00
73      4.00e+07
74      0.00e+00
75      1.20e+06
76      7.50e+05
77      1.50e+06
78      5.00e+05
79      7.80e+06
80      2.00e+07
81      5.00e+07
82      4.00e+06
83      5.60e+05
84      8.00e+07
85      3.00e+07
86      1.70e+06
87      6.00e+05
88      6.00e+05
89      3.00e+06
90      0.00e+00
91      2.50e+06
92      1.00e+06
93      4.00e+04
94      5.00e+05
95      3.30e+07
96      0.00e+00
97      0.00e+00
98      1.50e+06
99      3.50e+07
100     3.00e+06
101     3.00e+05
102     2.50e+07
103     3.50e+06
104     2.00e+08
105     0.00e+00
106     0.00e+00
107     7.00e+06
108     2.00e+05
109     3.00e+06
110     0.00e+00
111     3.00e+05
112     6.00e+06
113     1.00e+06
114     0.00e+00
115     0.00e+00
116     0.00e+00
117     1.30e+06
118     4.10e+06
119     1.00e+06
120     0.00e+00
121     5.75e+05
122     1.00e+06
123     0.00e+00
124     2.00e+08
125     6.00e+06
126     2.50e+07
127     8.00e+05
128     3.00e+05
129     6.00e+05
130     1.00e+06
131     3.00e+06
132     0.00e+00
133     3.00e+07
134     1.00e+06
135     5.00e+06
136     2.80e+07
137     0.00e+00
138     0.00e+00
139     1.00e+05
140     1.80e+07
141     3.20e+06
142     0.00e+00
143     0.00e+00
144     1.00e+08
146     5.00e+06
147     3.00e+05
148     0.00e+00
149     0.00e+00
150     8.00e+07
151     1.00e+07
152     1.50e+07
153     8.00e+05
154     1.00e+08
155     0.00e+00
156     1.00e+08
157     5.00e+05
158     2.00e+06
159     4.00e+05
160     2.00e+06
161     9.00e+05
162     2.50e+05
163     0.00e+00
164     3.20e+06
165     1.00e+07
166     0.00e+00
167     3.50e+07
168     2.00e+06
169     4.70e+06
170     0.00e+00
171     0.00e+00
172     1.50e+06
173     0.00e+00
174     3.00e+06
175     2.00e+06
176     7.50e+07
177     1.00e+06
178     1.20e+06
179     1.00e+06
180     0.00e+00
181     2.00e+06
182     0.00e+00
183     8.00e+05
184     1.00e+05
185     0.00e+00
186     8.00e+06
187     1.00e+06
188     3.00e+05
189     1.00e+06
190     1.00e+06
191     1.00e+06
192     6.00e+06
193     0.00e+00
194     0.00e+00
195     1.21e+08
196     4.50e+06
197     5.00e+06
198     5.50e+07
199     3.50e+06
200     3.00e+06
201     2.00e+05
202     3.30e+06
203     0.00e+00
204     0.00e+00
206     1.10e+07
207     2.00e+06
208     5.00e+06
209     5.00e+06
210     0.00e+00
211     1.60e+07
212     1.10e+07
213     0.00e+00
214     0.00e+00
215     2.00e+06
216     5.00e+05
217     4.00e+06
218     5.00e+06
219     1.00e+07
220     6.00e+05
221     1.50e+07
222     7.50e+06
223     4.50e+06
224     5.00e+06
225     1.80e+07
226     2.00e+06
227     5.40e+06
228     0.00e+00
229     1.50e+08
230     5.40e+06
231     2.00e+05
232     3.00e+06
233     2.00e+06
234     4.00e+06
235     0.00e+00
236     4.00e+05
237     2.50e+06
238     1.50e+06
239     7.50e+06
240     4.20e+06
241     4.00e+06
242     2.00e+05
243     5.00e+05
244     0.00e+00
245     2.20e+07
246     0.00e+00
247     5.20e+07
248     6.00e+06
249     2.00e+06
250     5.00e+05
251     0.00e+00
252     1.10e+06
253     1.00e+05
254     9.00e+05
255     3.00e+06
256     0.00e+00
257     0.00e+00
258     0.00e+00
259     7.00e+06
260     1.18e+08
261     1.50e+07
262     2.30e+06
263     0.00e+00
264     4.50e+06
265     0.00e+00
266     3.00e+06
267     1.00e+08
268     3.00e+07
269     5.00e+06
270     4.20e+06
271     4.00e+06
272     6.00e+05
273     2.50e+07
274     1.10e+07
275     1.70e+06
276     1.60e+06
277     1.85e+07
278     6.00e+06
279     5.50e+07
280     7.00e+10
281     2.00e+06
282     3.00e+05
283     1.50e+06
284     5.00e+06
285     1.00e+06
286     0.00e+00
287     5.00e+05
288     0.00e+00
289     0.00e+00
290     2.00e+06
291     0.00e+00
292     0.00e+00
293     1.00e+06
294     6.00e+06
295     3.00e+06
296     3.00e+07
297     1.00e+06
298     0.00e+00
299     1.90e+07
300     2.50e+07
301     3.00e+05
302     8.00e+08
303     4.00e+08
304     5.00e+05
305     1.50e+05
306     1.76e+08
307     1.50e+07
308     1.50e+07
309     2.50e+07
310     1.10e+07
311     1.00e+06
312     6.00e+07
313     4.70e+05
314     0.00e+00
315     2.40e+05
316     0.00e+00
317     3.00e+09
318     7.50e+05
319     1.00e+07
320     7.40e+07
321     1.60e+07
322     6.20e+07
323     1.00e+06
324     2.00e+07
325     2.10e+06
326     5.00e+08
327     1.25e+07
328     2.20e+09
329     1.00e+07
330     5.06e+06
331     0.00e+00
332     0.00e+00
333     0.00e+00
334     2.25e+08
335     7.50e+05
336     4.00e+07
337     1.00e+07
338     1.60e+06
339     5.00e+07
340     2.47e+07
341     7.70e+06
342     8.00e+05
343     1.30e+06
344     1.50e+08
345     1.91e+07
346     1.00e+08
347     0.00e+00
348     6.20e+07
349     0.00e+00
350     5.10e+07
351     1.00e+06
352     1.15e+05
353     5.40e+04
354     2.00e+04
355     0.00e+00
356     9.00e+06
357     3.00e+06
358     2.00e+06
359     8.03e+05
360     2.38e+05
361     3.00e+05
363     0.00e+00
364     1.02e+07
365     3.00e+05
366     1.02e+06
367     1.00e+08
368     0.00e+00
369     0.00e+00
370     0.00e+00
371     0.00e+00
372     2.00e+05
373     5.00e+06
374     3.00e+06
375     1.00e+07
376     3.00e+06
377     0.00e+00
378     2.00e+06
379     3.00e+06
380     1.50e+06
381     0.00e+00
382     2.00e+07
383     0.00e+00
384     1.20e+07
385     1.34e+07
386     2.00e+06
387     1.00e+06
388     1.30e+06
389     2.00e+05
390     1.70e+08
391     1.10e+06
392     2.90e+06
393     2.00e+06
394     5.43e+05
395     0.00e+00
396     9.00e+07
397     1.30e+06
398     3.00e+07
399     0.00e+00
400     3.40e+06
401     6.00e+05
402     2.30e+07
403     4.00e+07
404     1.50e+06
405     8.09e+06
406     1.03e+06
407     5.04e+06
408     8.00e+05
409     1.50e+06
410     3.60e+05
411     0.00e+00
412     8.00e+06
413     1.40e+06
414     1.00e+07
415     2.00e+06
416     1.00e+05
417     1.00e+07
418     6.50e+05
419     1.20e+07
420     5.40e+07
421     5.00e+06
422     3.50e+07
423     4.25e+07
424     2.80e+07
425     1.14e+07
426     7.50e+06
427     8.00e+06
428     3.25e+05
429     2.80e+07
430     8.00e+06
431     9.00e+06
432     4.10e+05
433     1.80e+07
434     5.00e+06
435     9.00e+05
436     4.50e+05
437     2.00e+06
438     5.00e+05
439     8.00e+06
440     1.00e+06
441     6.82e+05
442     7.00e+06
443     5.06e+06
444     4.05e+06
445     1.05e+06
446     8.00e+05
447     7.00e+06
448     0.00e+00
449     5.00e+07
450     1.00e+06
451     7.50e+05
452     3.00e+07
453     1.05e+06
454     1.00e+06
455     4.00e+05
456     4.00e+06
457     2.50e+07
458     1.08e+06
459     9.00e+06
460     4.30e+06
461     1.40e+06
462     0.00e+00
463     6.80e+06
464     2.11e+06
465     0.00e+00
466     7.64e+05
467     6.03e+05
468     4.09e+05
469     2.92e+05
470     2.86e+05
471     1.36e+05
472     0.00e+00
473     5.46e+05
474     8.87e+05
475     4.30e+04
476     4.09e+04
477     4.09e+04
478     0.00e+00
479     0.00e+00
480     0.00e+00
481     0.00e+00
482     0.00e+00
483     7.00e+06
484     2.20e+06
485     2.00e+06
486     3.40e+05
487     5.66e+06
488     2.00e+06
489     0.00e+00
490     3.50e+05
491     1.10e+05
492     4.30e+06
493     0.00e+00
494     1.22e+08
495     1.16e+07
496     0.00e+00
497     2.80e+06
498     0.00e+00
499     5.00e+06
500     1.00e+06
501     0.00e+00
502     2.80e+07
503     1.10e+07
504     2.30e+06
505     0.00e+00
506     5.00e+06
507     0.00e+00
508     1.06e+06
509     2.00e+06
510     0.00e+00
511     0.00e+00
512     1.00e+07
513     2.50e+06
514     5.00e+06
515     6.69e+05
516     0.00e+00
517     1.61e+07
518     6.50e+05
519     0.00e+00
520     1.00e+06
521     2.00e+06
522     1.00e+06
523     1.00e+06
524     6.70e+06
525     0.00e+00
526     5.00e+06
527     2.00e+06
528     2.20e+05
529     0.00e+00
530     1.30e+06
531     3.00e+05
532     2.66e+05
533     2.50e+06
534     2.88e+06
535     7.00e+05
536     0.00e+00
537     0.00e+00
538     2.65e+07
539     8.00e+06
540     2.00e+06
541     1.00e+06
542     3.51e+05
543     0.00e+00
544     0.00e+00
545     2.00e+05
546     0.00e+00
547     5.00e+05
548     0.00e+00
549     4.68e+07
550     1.75e+05
551     3.00e+06
552     0.00e+00
553     0.00e+00
554     1.50e+07
555     1.70e+06
556     0.00e+00
557     2.10e+07
558     0.00e+00
559     1.12e+07
560     8.04e+05
561     2.50e+06
562     0.00e+00
563     1.00e+07
564     1.34e+06
565     4.67e+05
566     1.33e+05
567     0.00e+00
568     1.00e+08
569     7.00e+06
570     3.82e+06
571     1.00e+06
572     9.34e+05
573     5.00e+05
574     2.93e+05
575     0.00e+00
576     0.00e+00
577     0.00e+00
578     1.98e+05
579     9.27e+05
580     4.00e+06
581     9.71e+05
582     3.06e+06
583     1.86e+06
584     2.32e+05
585     0.00e+00
586     2.89e+06
587     1.33e+06
588     4.00e+07
589     0.00e+00
590     0.00e+00
591     1.20e+06
592     0.00e+00
593     1.55e+07
594     5.60e+07
595     2.25e+06
596     0.00e+00
597     1.68e+07
598     3.70e+06
599     1.47e+06
600     1.00e+06
601     5.30e+05
602     5.00e+05
603     0.00e+00
604     2.67e+05
605     3.34e+06
606     6.00e+05
607     1.00e+06
608     7.20e+06
609     2.10e+07
610     6.50e+05
611     0.00e+00
612     1.10e+06
613     1.70e+06
614     0.00e+00
615     0.00e+00
616     0.00e+00
617     2.74e+06
618     0.00e+00
619     6.08e+06
620     1.50e+06
621     6.61e+06
622     5.00e+06
623     2.77e+07
624     0.00e+00
625     5.94e+06
626     3.96e+06
627     5.50e+06
628     1.97e+05
629     0.00e+00
630     1.00e+07
631     4.33e+06
632     2.50e+07
633     2.00e+06
634     4.59e+05
635     0.00e+00
636     0.00e+00
637     3.94e+06
638     0.00e+00
639     1.31e+06
640     0.00e+00
641     2.30e+05
642     0.00e+00
643     1.50e+05
644     1.14e+07
645     5.30e+06
646     0.00e+00
647     1.80e+07
648     1.50e+08
649     0.00e+00
650     5.50e+06
651     0.00e+00
652     2.64e+05
653     1.00e+06
654     0.00e+00
655     6.00e+06
656     3.30e+06
657     4.00e+06
658     1.75e+06
659     1.00e+06
660     1.00e+06
661     0.00e+00
662     3.00e+06
663     5.97e+06
664     2.98e+06
665     0.00e+00
666     3.23e+05
667     1.33e+06
668     0.00e+00
669     0.00e+00
670     5.00e+05
671     5.00e+06
672     2.00e+06
673     2.70e+07
674     5.20e+06
675     5.50e+07
676     0.00e+00
677     0.00e+00
678     0.00e+00
679     1.00e+06
680     0.00e+00
681     2.50e+06
682     0.00e+00
683     2.53e+06
684     0.00e+00
685     0.00e+00
686     0.00e+00
687     3.40e+05
688     7.92e+05
689     1.00e+06
690     0.00e+00
691     0.00e+00
692     6.00e+07
693     1.14e+07
694     1.00e+05
695     1.72e+06
696     3.29e+05
697     0.00e+00
698     5.27e+06
699     6.50e+05
700     0.00e+00
701     0.00e+00
702     8.70e+06
703     3.23e+06
704     0.00e+00
705     5.90e+06
706     4.40e+07
707     3.88e+06
708     0.00e+00
709     1.00e+06
710     1.30e+07
711     0.00e+00
712     8.80e+06
713     9.50e+06
714     1.00e+06
715     0.00e+00
716     0.00e+00
717     2.00e+06
718     1.00e+07
719     0.00e+00
720     5.10e+06
721     9.20e+05
722     1.50e+07
723     0.00e+00
724     0.00e+00
725     1.70e+06
726     0.00e+00
727     0.00e+00
728     3.56e+07
729     9.40e+06
730     7.90e+05
731     4.80e+05
732     2.50e+05
733     1.60e+05
734     0.00e+00
735     0.00e+00
736     0.00e+00
737     4.00e+05
738     8.20e+06
739     1.55e+07
740     0.00e+00
741     4.26e+06
742     1.41e+06
743     0.00e+00
744     0.00e+00
745     1.50e+06
746     5.00e+05
747     2.10e+06
748     4.00e+06
749     2.00e+06
750     0.00e+00
751     2.00e+07
752     0.00e+00
753     3.50e+05
754     7.86e+05
755     2.00e+06
756     6.80e+06
757     5.00e+06
758     1.23e+08
759     2.48e+05
760     0.00e+00
761     1.20e+07
762     7.50e+06
763     0.00e+00
764     4.50e+06
765     0.00e+00
766     1.50e+05
767     0.00e+00
768     2.40e+07
769     3.00e+07
770     4.00e+06
771     1.50e+07
772     1.30e+07
773     0.00e+00
774     2.00e+06
775     0.00e+00
776     0.00e+00
777     2.00e+07
778     4.00e+05
779     2.00e+05
780     1.43e+07
781     4.00e+06
782     0.00e+00
783     0.00e+00
784     2.45e+07
785     5.00e+07
786     3.80e+06
787     1.84e+07
788     6.85e+07
789     4.80e+06
790     6.00e+07
791     2.00e+06
792     1.25e+07
793     1.83e+06
794     0.00e+00
795     8.00e+06
796     1.20e+07
797     7.50e+06
798     2.38e+07
799     4.30e+07
800     7.00e+06
801     5.00e+06
802     8.00e+05
803     2.16e+07
804     0.00e+00
805     3.50e+06
806     6.00e+06
807     1.00e+07
808     1.50e+05
809     5.00e+05
810     4.00e+06
811     5.50e+07
812     4.60e+06
813     1.31e+07
814     0.00e+00
815     0.00e+00
816     3.00e+06
817     1.15e+08
818     0.00e+00
819     2.00e+05
820     0.00e+00
821     4.00e+05
822     3.90e+06
823     0.00e+00
824     0.00e+00
825     0.00e+00
826     3.00e+06
827     6.70e+05
828     1.60e+06
829     1.00e+05
830     1.00e+06
831     1.50e+06
832     2.50e+06
833     1.10e+06
834     0.00e+00
835     8.50e+06
836     5.00e+07
837     3.15e+06
838     2.60e+06
839     0.00e+00
840     7.00e+06
841     3.00e+06
842     3.90e+06
843     0.00e+00
844     1.10e+06
845     0.00e+00
846     0.00e+00
847     1.00e+06
848     6.00e+06
849     4.70e+06
850     5.00e+05
851     2.00e+06
852     3.00e+06
853     1.00e+06
854     0.00e+00
855     0.00e+00
856     0.00e+00
857     0.00e+00
858     0.00e+00
859     4.05e+06
860     1.50e+06
861     8.00e+06
862     6.00e+06
863     5.50e+06
864     0.00e+00
865     1.05e+07
866     0.00e+00
867     4.00e+06
868     5.00e+05
869     6.50e+06
870     1.00e+06
871     5.00e+06
872     3.00e+07
873     0.00e+00
874     4.37e+07
875     0.00e+00
876     2.30e+07
877     2.00e+07
878     3.00e+06
879     1.60e+07
880     0.00e+00
881     1.50e+06
882     0.00e+00
883     1.38e+07
884     1.50e+06
885     3.07e+05
886     3.00e+07
887     2.00e+07
888     7.50e+07
889     2.50e+06
890     4.20e+05
891     3.00e+05
892     0.00e+00
893     1.20e+06
894     1.10e+06
895     6.27e+05
896     1.13e+08
897     3.20e+07
898     1.10e+08
899     5.50e+06
900     1.10e+07
901     3.40e+05
902     6.00e+05
903     1.40e+06
904     3.00e+06
905     1.60e+07
906     1.90e+07
907     2.50e+05
908     4.48e+05
909     0.00e+00
910     8.00e+06
911     7.98e+06
912     0.00e+00
913     0.00e+00
914     0.00e+00
915     3.30e+05
916     3.50e+06
917     0.00e+00
918     5.00e+06
919     5.60e+06
920     2.40e+07
921     1.40e+06
922     5.50e+06
923     5.00e+07
924     5.20e+06
925     2.20e+06
926     1.50e+06
927     1.00e+06
928     2.50e+07
929     2.50e+06
930     2.15e+07
931     2.00e+06
932     0.00e+00
933     4.00e+07
934     2.96e+08
935     2.00e+08
936     3.20e+07
937     6.00e+06
938     3.50e+06
939     3.00e+07
940     2.50e+05
941     2.00e+04
942     0.00e+00
943     8.00e+06
944     5.50e+06
945     1.00e+06
946     4.90e+06
947     0.00e+00
948     2.50e+06
949     3.50e+06
950     1.40e+06
951     1.26e+07
952     1.40e+06
953     1.00e+07
954     0.00e+00
955     0.00e+00
956     9.90e+06
957     0.00e+00
958     1.50e+07
959     3.00e+06
960     0.00e+00
961     1.00e+08
962     3.00e+06
963     3.50e+07
964     6.00e+05
965     2.00e+06
966     2.20e+06
967     5.00e+05
968     9.83e+05
969     2.00e+08
970     7.02e+07
971     0.00e+00
972     1.20e+07
973     3.00e+07
974     2.10e+08
975     8.40e+07
976     6.00e+07
977     0.00e+00
978     0.00e+00
979     0.00e+00
980     0.00e+00
981     0.00e+00
982     3.90e+07
983     2.70e+06
984     1.40e+06
985     4.30e+06
986     1.05e+08
987     1.10e+07
988     4.00e+05
989     1.00e+06
990     1.03e+08
991     2.20e+05
992     3.00e+07
993     2.50e+05
994     6.00e+06
995     6.00e+06
996     2.81e+05
997     0.00e+00
998     0.00e+00
999     0.00e+00
1000    1.27e+04
1001    1.27e+04
1002    1.27e+04
1003    0.00e+00
1004    3.00e+07
1005    7.00e+05
1006    6.00e+05
1007    2.50e+04
1008    4.00e+05
1009    9.75e+07
1010    9.00e+07
1011    5.07e+05
1012    0.00e+00
1013    0.00e+00
1014    1.50e+07
1015    1.00e+07
1016    2.00e+06
1017    2.00e+06
1018    1.60e+05
1019    2.00e+06
1020    0.00e+00
1021    0.00e+00
1022    0.00e+00
1023    0.00e+00
1024    0.00e+00
1025    2.00e+06
1026    5.20e+06
1027    1.50e+07
1028    0.00e+00
1029    8.40e+06
1030    1.10e+06
1031    3.40e+06
1032    1.83e+07
1033    2.00e+06
1034    1.50e+08
1035    2.00e+08
1036    1.40e+06
1037    1.25e+08
1038    1.00e+06
1039    3.40e+06
1040    0.00e+00
1041    1.81e+05
1042    5.00e+05
1043    2.80e+05
1044    1.50e+07
1045    1.00e+07
1046    0.00e+00
1047    3.00e+06
1048    1.47e+07
1049    1.00e+06
1050    1.50e+06
1051    1.32e+07
1052    8.00e+06
1053    8.04e+06
1054    9.00e+06
Name: Amount($), dtype: float64>

## **Note**
Dropping observations is not a solutions to this data cleaning; the problem will be approached in a different manner.

1. The missing values in the `Amount($)` column has been filled with `0s`
2. The missing values in the `Founded` columns will be filled the mode of the years.
3. All the missing values in the object columns will be filled with `Unknown`, this will ensure the integrity of the data.

In [70]:
# Fill the missing values of the Founded columns with the mode
founded_mode = df_2020['Founded'].mode()[0]
df_2020['Founded'].fillna(founded_mode, inplace=True)
df_2020['Founded']

0       2019.0
1       2019.0
2       2018.0
3       2020.0
4       2016.0
5       2019.0
6       2008.0
7       2018.0
8       2015.0
9       2017.0
10      2016.0
11      2017.0
12      2015.0
13      2014.0
14      2015.0
15      2008.0
16      2020.0
17      2017.0
18      1998.0
19      2019.0
20      2019.0
21      2016.0
22      2019.0
23      2016.0
24      2018.0
25      2017.0
26      2016.0
27      2007.0
28      2020.0
29      2011.0
30      1982.0
31      2015.0
32      2015.0
33      2018.0
34      2016.0
35      2016.0
36      2013.0
37      2019.0
38      2016.0
39      2008.0
40      2016.0
41      2017.0
42      2011.0
43      2019.0
44      2020.0
45      2017.0
46      2015.0
47      2020.0
48      2015.0
49      2016.0
50      2015.0
51      2017.0
52      2020.0
53      2016.0
54      2019.0
55      2019.0
56      2009.0
57      2020.0
58      2014.0
59      2014.0
60      2015.0
61      2014.0
62      2019.0
63      2017.0
64      2016.0
65      2019.0
66      2019.0
67      2017.0
68      2015.0
69      2020.0
70      2012.0
71      2018.0
72      2015.0
73      2011.0
74      2018.0
75      2014.0
76      2020.0
77      2016.0
78      2019.0
79      2015.0
80      2016.0
81      1995.0
82      2013.0
83      2020.0
84      2018.0
85      2010.0
86      2020.0
87      2016.0
88      2020.0
89      2015.0
90      2013.0
91      2020.0
92      2019.0
93      2019.0
94      2018.0
95      2020.0
96      2017.0
97      2016.0
98      2018.0
99      2015.0
100     2018.0
101     2018.0
102     2015.0
103     2014.0
104     2015.0
105     2017.0
106     2018.0
107     2015.0
108     2019.0
109     2018.0
110     2014.0
111     2019.0
112     2015.0
113     2008.0
114     2019.0
115     2020.0
116     2015.0
117     2020.0
118     2019.0
119     2019.0
120     2012.0
121     2020.0
122     2017.0
123     2018.0
124     2011.0
125     2018.0
126     2015.0
127     2018.0
128     2018.0
129     2015.0
130     2018.0
131     2015.0
132     2012.0
133     2015.0
134     2017.0
135     2018.0
136     2014.0
137     2020.0
138     2019.0
139     2019.0
140     2006.0
141     2013.0
142     2014.0
143     2016.0
144     2011.0
146     2016.0
147     2017.0
148     2017.0
149     2016.0
150     2019.0
151     2016.0
152     1978.0
153     2013.0
154     2015.0
155     2017.0
156     2008.0
157     2019.0
158     2020.0
159     2020.0
160     2013.0
161     2014.0
162     2015.0
163     2010.0
164     2015.0
165     2006.0
166     2019.0
167     2013.0
168     2007.0
169     2017.0
170     2012.0
171     2017.0
172     2016.0
173     2016.0
174     2018.0
175     2008.0
176     2011.0
177     2014.0
178     2019.0
179     2018.0
180     2015.0
181     2015.0
182     2020.0
183     2016.0
184     2018.0
185     2019.0
186     2015.0
187     2016.0
188     2020.0
189     2017.0
190     2015.0
191     2016.0
192     2016.0
193     2020.0
194     2017.0
195     2015.0
196     2017.0
197     2019.0
198     2016.0
199     2020.0
200     2010.0
201     2020.0
202     2018.0
203     2015.0
204     2018.0
206     2015.0
207     2018.0
208     2015.0
209     2018.0
210     2015.0
211     2015.0
212     2015.0
213     2012.0
214     2019.0
215     2016.0
216     2015.0
217     2010.0
218     2019.0
219     2015.0
220     2016.0
221     2017.0
222     2016.0
223     2020.0
224     2020.0
225     2015.0
226     2012.0
227     2015.0
228     2012.0
229     2016.0
230     2017.0
231     2018.0
232     2018.0
233     2016.0
234     2014.0
235     2019.0
236     2015.0
237     2020.0
238     2012.0
239     2017.0
240     2016.0
241     2015.0
242     2019.0
243     2015.0
244     2015.0
245     2017.0
246     2019.0
247     2008.0
248     2020.0
249     2014.0
250     2018.0
251     2018.0
252     2020.0
253     2019.0
254     2016.0
255     2017.0
256     2018.0
257     2018.0
258     2015.0
259     2014.0
260     2015.0
261     2014.0
262     2018.0
263     2017.0
264     2019.0
265     1999.0
266     2015.0
267     2014.0
268     2015.0
269     2008.0
270     2017.0
271     2014.0
272     2017.0
273     2012.0
274     2016.0
275     2017.0
276     2015.0
277     2015.0
278     1994.0
279     2011.0
280     2006.0
281     2019.0
282     2015.0
283     2015.0
284     2012.0
285     2017.0
286     2019.0
287     2014.0
288     2013.0
289     2017.0
290     2016.0
291     2018.0
292     2016.0
293     2015.0
294     2015.0
295     2010.0
296     2019.0
297     2015.0
298     2018.0
299     2017.0
300     2013.0
301     2015.0
302     2006.0
303     2005.0
304     2017.0
305     2018.0
306     2013.0
307     2012.0
308     2013.0
309     2011.0
310     2018.0
311     2015.0
312     2016.0
313     2015.0
314     2016.0
315     2014.0
316     2019.0
317     2012.0
318     2016.0
319     2018.0
320     2018.0
321     2010.0
322     2007.0
323     2017.0
324     2017.0
325     2016.0
326     2011.0
327     2015.0
328     1973.0
329     2020.0
330     2011.0
331     2018.0
332     2015.0
333     2018.0
334     2008.0
335     2018.0
336     2012.0
337     2018.0
338     2015.0
339     2011.0
340     2012.0
341     2012.0
342     2008.0
343     2016.0
344     2015.0
345     2019.0
346     2016.0
347     2018.0
348     2008.0
349     2017.0
350     2010.0
351     2013.0
352     2013.0
353     2018.0
354     2018.0
355     2015.0
356     2008.0
357     2011.0
358     2013.0
359     2012.0
360     2018.0
361     2018.0
363     2016.0
364     2006.0
365     2014.0
366     2015.0
367     2008.0
368     2019.0
369     2013.0
370     2015.0
371     2017.0
372     2018.0
373     2014.0
374     2017.0
375     2009.0
376     2017.0
377     2019.0
378     2020.0
379     2014.0
380     2015.0
381     2017.0
382     2014.0
383     2016.0
384     2017.0
385     2015.0
386     2006.0
387     2015.0
388     2014.0
389     2012.0
390     2013.0
391     2016.0
392     2015.0
393     2013.0
394     2019.0
395     2019.0
396     2018.0
397     2020.0
398     2010.0
399     2017.0
400     2017.0
401     2015.0
402     2015.0
403     2015.0
404     2018.0
405     2015.0
406     2014.0
407     2018.0
408     2018.0
409     2018.0
410     2018.0
411     2018.0
412     2016.0
413     2018.0
414     2019.0
415     2016.0
416     2018.0
417     2012.0
418     2019.0
419     2019.0
420     2017.0
421     2016.0
422     2013.0
423     2009.0
424     2012.0
425     2015.0
426     2019.0
427     2019.0
428     2014.0
429     2014.0
430     2016.0
431     2014.0
432     2015.0
433     2016.0
434     2016.0
435     2019.0
436     2020.0
437     2014.0
438     2019.0
439     2014.0
440     2015.0
441     2016.0
442     2013.0
443     2015.0
444     2014.0
445     2018.0
446     2014.0
447     2019.0
448     2017.0
449     2018.0
450     2015.0
451     2015.0
452     2016.0
453     2016.0
454     2017.0
455     2015.0
456     2016.0
457     2017.0
458     2019.0
459     2017.0
460     2015.0
461     2017.0
462     2018.0
463     2014.0
464     2011.0
465     2014.0
466     2015.0
467     2016.0
468     2011.0
469     2011.0
470     2019.0
471     2018.0
472     2010.0
473     2015.0
474     2013.0
475     2015.0
476     2016.0
477     2014.0
478     2015.0
479     2015.0
480     2016.0
481     2019.0
482     2015.0
483     2015.0
484     2018.0
485     2013.0
486     2014.0
487     2018.0
488     2019.0
489     2019.0
490     2018.0
491     2014.0
492     2020.0
493     2015.0
494     2011.0
495     2017.0
496     2015.0
497     2018.0
498     2015.0
499     2015.0
500     2020.0
501     2014.0
502     2012.0
503     2016.0
504     2019.0
505     2015.0
506     2019.0
507     2019.0
508     2014.0
509     2019.0
510     2018.0
511     2019.0
512     2015.0
513     2019.0
514     2015.0
515     2017.0
516     2018.0
517     2014.0
518     2015.0
519     2018.0
520     2017.0
521     2015.0
522     2017.0
523     2014.0
524     2015.0
525     2015.0
526     2016.0
527     2015.0
528     2019.0
529     2016.0
530     2018.0
531     2015.0
532     2018.0
533     2015.0
534     2015.0
535     2013.0
536     2015.0
537     2015.0
538     2011.0
539     2017.0
540     2019.0
541     2015.0
542     2015.0
543     2015.0
544     2015.0
545     2015.0
546     2018.0
547     2015.0
548     2018.0
549     2013.0
550     2019.0
551     2018.0
552     1995.0
553     2015.0
554     2010.0
555     2017.0
556     2017.0
557     2015.0
558     2020.0
559     2013.0
560     2015.0
561     2020.0
562     2019.0
563     2015.0
564     2009.0
565     2014.0
566     2018.0
567     2017.0
568     2011.0
569     2015.0
570     2018.0
571     2016.0
572     2018.0
573     2015.0
574     2015.0
575     2015.0
576     2015.0
577     2015.0
578     2019.0
579     2019.0
580     2011.0
581     2017.0
582     2007.0
583     2015.0
584     2018.0
585     2015.0
586     2013.0
587     2015.0
588     2012.0
589     2017.0
590     2015.0
591     2018.0
592     2017.0
593     2020.0
594     2015.0
595     2011.0
596     2018.0
597     2014.0
598     2013.0
599     2019.0
600     2015.0
601     2012.0
602     2015.0
603     2015.0
604     2015.0
605     2015.0
606     2019.0
607     2018.0
608     2013.0
609     2018.0
610     2016.0
611     2019.0
612     2015.0
613     2015.0
614     2019.0
615     2019.0
616     2017.0
617     2012.0
618     2011.0
619     2016.0
620     2015.0
621     2011.0
622     2016.0
623     2014.0
624     2016.0
625     2012.0
626     2015.0
627     2015.0
628     2018.0
629     2016.0
630     2009.0
631     2015.0
632     2015.0
633     2019.0
634     2017.0
635     2020.0
636     2015.0
637     2017.0
638     2015.0
639     2015.0
640     2015.0
641     2015.0
642     2015.0
643     2015.0
644     2015.0
645     2015.0
646     2002.0
647     2018.0
648     2014.0
649     2018.0
650     2015.0
651     2019.0
652     2015.0
653     2018.0
654     2016.0
655     2016.0
656     2019.0
657     2015.0
658     2017.0
659     2016.0
660     2016.0
661     2015.0
662     2015.0
663     2008.0
664     2012.0
665     2018.0
666     2015.0
667     2015.0
668     2017.0
669     2013.0
670     2018.0
671     2019.0
672     2017.0
673     2015.0
674     2015.0
675     2014.0
676     2019.0
677     2017.0
678     2014.0
679     2015.0
680     2015.0
681     2018.0
682     2015.0
683     2015.0
684     2018.0
685     2015.0
686     2015.0
687     2015.0
688     2012.0
689     2015.0
690     2019.0
691     2010.0
692     2015.0
693     2014.0
694     2015.0
695     2015.0
696     2017.0
697     2018.0
698     2015.0
699     2014.0
700     2018.0
701     2012.0
702     2018.0
703     2012.0
704     2015.0
705     2016.0
706     2012.0
707     2015.0
708     2019.0
709     2019.0
710     2017.0
711     2015.0
712     2012.0
713     2015.0
714     2018.0
715     2015.0
716     2015.0
717     2015.0
718     2018.0
719     2015.0
720     2016.0
721     2015.0
722     2015.0
723     2016.0
724     2016.0
725     2016.0
726     2019.0
727     2015.0
728     2009.0
729     2014.0
730     2015.0
731     2015.0
732     2015.0
733     2015.0
734     2015.0
735     2018.0
736     2016.0
737     2015.0
738     2008.0
739     2014.0
740     2015.0
741     2015.0
742     2015.0
743     2015.0
744     2015.0
745     2015.0
746     2018.0
747     2018.0
748     2019.0
749     2015.0
750     2018.0
751     2015.0
752     2017.0
753     2014.0
754     2014.0
755     2017.0
756     2015.0
757     2004.0
758     2008.0
759     2017.0
760     2014.0
761     2015.0
762     2014.0
763     2015.0
764     2015.0
765     2017.0
766     2018.0
767     2015.0
768     2015.0
769     2014.0
770     2011.0
771     2013.0
772     2015.0
773     2015.0
774     2019.0
775     2015.0
776     2018.0
777     2015.0
778     2015.0
779     2015.0
780     2015.0
781     2015.0
782     2018.0
783     2019.0
784     2015.0
785     2015.0
786     2008.0
787     2014.0
788     2015.0
789     2013.0
790     2015.0
791     2015.0
792     2015.0
793     2016.0
794     2015.0
795     2018.0
796     2012.0
797     2015.0
798     2014.0
799     2014.0
800     2018.0
801     2015.0
802     2015.0
803     2015.0
804     2018.0
805     2016.0
806     2017.0
807     2012.0
808     2019.0
809     2019.0
810     2015.0
811     2013.0
812     2015.0
813     2012.0
814     2018.0
815     2015.0
816     2015.0
817     2016.0
818     2018.0
819     2015.0
820     2015.0
821     2019.0
822     2015.0
823     2020.0
824     2015.0
825     2019.0
826     2015.0
827     2015.0
828     2015.0
829     2018.0
830     2015.0
831     2016.0
832     2015.0
833     2015.0
834     2010.0
835     2016.0
836     2017.0
837     2015.0
838     2020.0
839     2015.0
840     2015.0
841     2016.0
842     2015.0
843     2015.0
844     2016.0
845     2016.0
846     2019.0
847     2015.0
848     2015.0
849     2015.0
850     2015.0
851     2015.0
852     2015.0
853     2015.0
854     2015.0
855     2015.0
856     2015.0
857     2015.0
858     2018.0
859     2013.0
860     2019.0
861     2015.0
862     2015.0
863     2015.0
864     2016.0
865     2015.0
866     2015.0
867     2016.0
868     2015.0
869     2014.0
870     2017.0
871     2017.0
872     2014.0
873     2015.0
874     2015.0
875     2012.0
876     2015.0
877     2016.0
878     2015.0
879     2016.0
880     2015.0
881     2015.0
882     2015.0
883     2011.0
884     2014.0
885     2017.0
886     2015.0
887     2012.0
888     2018.0
889     2015.0
890     2017.0
891     2015.0
892     2015.0
893     2015.0
894     2015.0
895     2018.0
896     2014.0
897     2014.0
898     2010.0
899     2015.0
900     2014.0
901     2015.0
902     2019.0
903     2015.0
904     2016.0
905     2009.0
906     2015.0
907     2014.0
908     2016.0
909     2017.0
910     2015.0
911     2015.0
912     2015.0
913     2015.0
914     2015.0
915     2015.0
916     2015.0
917     2015.0
918     2015.0
919     2010.0
920     2015.0
921     2015.0
922     2015.0
923     2015.0
924     2016.0
925     2011.0
926     2018.0
927     2019.0
928     2015.0
929     2018.0
930     2012.0
931     2011.0
932     2015.0
933     2013.0
934     2010.0
935     2011.0
936     2015.0
937     2015.0
938     2015.0
939     2015.0
940     2015.0
941     2015.0
942     2015.0
943     2015.0
944     2015.0
945     2018.0
946     2015.0
947     2015.0
948     2019.0
949     2015.0
950     2015.0
951     2015.0
952     2017.0
953     2015.0
954     2012.0
955     2015.0
956     2015.0
957     2015.0
958     2017.0
959     2017.0
960     2018.0
961     2018.0
962     2015.0
963     2016.0
964     2019.0
965     2011.0
966     2018.0
967     2017.0
968     2018.0
969     2014.0
970     2016.0
971     2015.0
972     2015.0
973     2015.0
974     2011.0
975     2015.0
976     2014.0
977     2015.0
978     2018.0
979     2015.0
980     2015.0
981     2015.0
982     2015.0
983     2016.0
984     2018.0
985     2017.0
986     2014.0
987     2015.0
988     2017.0
989     2019.0
990     2017.0
991     2013.0
992     2013.0
993     2019.0
994     2019.0
995     2016.0
996     2015.0
997     2018.0
998     2016.0
999     2015.0
1000    2015.0
1001    2015.0
1002    2015.0
1003    2015.0
1004    2010.0
1005    2015.0
1006    2016.0
1007    2015.0
1008    2019.0
1009    2014.0
1010    2015.0
1011    2016.0
1012    2015.0
1013    2018.0
1014    2013.0
1015    2015.0
1016    2017.0
1017    2019.0
1018    2016.0
1019    2019.0
1020    2017.0
1021    2015.0
1022    2015.0
1023    2015.0
1024    2015.0
1025    2015.0
1026    2015.0
1027    2015.0
1028    2015.0
1029    2015.0
1030    2012.0
1031    2015.0
1032    2015.0
1033    2014.0
1034    2015.0
1035    2011.0
1036    2015.0
1037    2016.0
1038    2015.0
1039    2014.0
1040    2019.0
1041    2008.0
1042    2015.0
1043    2015.0
1044    2015.0
1045    2015.0
1046    2001.0
1047    2018.0
1048    2016.0
1049    2017.0
1050    2015.0
1051    2015.0
1052    2012.0
1053    2015.0
1054    2017.0
Name: Founded, dtype: float64

In [71]:
# Converting the Founded column to integer.
df_2020['Founded'] = df_2020['Founded'].astype(int)
df_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage
0,Aqgromalin,2019,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None
1,Krayonnz,2019,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed
2,PadCare Labs,2018,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,0.0,Pre-seed
3,NCOME,2020,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None
4,Gramophone,2016,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None

In [72]:
# Filling all the missing values in the object columns with `Unknown`
df_2020.fillna('Unknown', inplace=True)
df_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage
0,Aqgromalin,2019,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,Unknown
1,Krayonnz,2019,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed
2,PadCare Labs,2018,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,0.0,Pre-seed
3,NCOME,2020,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,Unknown
4,Gramophone,2016,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,Unknown

In [73]:
# Adding a column `Year` to be able to identify each observation after Concatenation
df_2020['Year'] = 2020
df_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage,Year
0,Aqgromalin,2019,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,Unknown,2020
1,Krayonnz,2019,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,2020
2,PadCare Labs,2018,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,0.0,Pre-seed,2020
3,NCOME,2020,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,Unknown,2020
4,Gramophone,2016,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,Unknown,2020

**End of 2020 data cleaning**

In [74]:
df_2020.isna().sum()

Company_Brand    0
Founded          0
HeadQuarter      0
Sector           0
What_it_does     0
Founders         0
Investor         0
Amount($)        0
Stage            0
Year             0
dtype: int64

In [75]:
#checking the shapes of the dataframes
df_2021.shape

(1209, 9)

##### Notes:
*The dataframes have different shapes which indicate they may be a challenge to concatenate into one dataframe.*
*We need to apply some preliminary processing*

* The 2018 dataset has 5 columns and all in the object datatype

In [76]:
#checking the column names and dtypes
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

* The 2019 dataset has 8 columns and all in the object datatype except Founder which is in the float64 data  type

In [77]:
#checking the column names and dtypes

df_2020.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1052 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1052 non-null   object
 1   Founded        1052 non-null   int32
 2   HeadQuarter    1052 non-null   object
 3   Sector         1052 non-null   object
 4   What_it_does   1052 non-null   object
 5   Founders       1052 non-null   object
 6   Investor       1052 non-null   object
 7   Amount($)      1052 non-null   float64
 8   Stage          1052 non-null   object
 9   Year           1052 non-null   int64
dtypes: float64(1), int32(1), int64(1), object(7)
memory usage: 86.3+ KB

* The 2020 dataset has 9 columns and all in the object datatype except Founded and Amount which is in the float64 data type

In [78]:
#checking the column names and dtypes
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [79]:
dfs_info = []

##### **Notes:** #####
1. There seem to be similar column names across all dataframes.
These include:\
            - Company Name, Stage/Series, Sector/Industry, Location/HQuarters, About/What-it-does, Amount
2. There are columns in three tables but not one.
These include:\
            - Founders, Investors
3. There are columns unique to specific datasets
These include:\
            - Column 10, Founded

##### **Decisions:** #####
Our first attempt will be to concatenate the similar columns across the years and create dataframes with those specific columns to avoid mismatched columns

In [80]:
common_cols_all = ['Company', 'Stage','Series','Sector', 'Industry', 'Location', 'HeadQuarter', 'About', 'What_it_does', 'Amount']
dfs = [df_2018,df_2019,df_2020,df_2021]

## Data Cleaning