# **INDIAN STARTUP ECOSYSTEM ANALYSIS**

## **Business Understanding**

The Indian startup ecosystem has experienced significant growth and evolution from 2018 to 2021, emerging as one of the fastest-growing and dynamic startup ecosystems globally. During this period, several trends and developments have shaped the landscape, contributing to the rise of innovative startups across various sectors. The Indian startup ecosystem showcased resilience, innovation, and dynamism, positioning India as a leading destination for entrepreneurship, investment, and technological innovation on the global stage.

#### **Objective:**
In this project, we will analyse the Indian start-up ecosystem to provide best course of action.

## **Data Understanding**

### **Package Importation**

In [15]:
# Import necessary packages
import pandas as pd
import os
import pyodbc
from dotenv import dotenv_values

# Ignoring warnings
import warnings
warnings.filterwarnings('ignore')


print("packages imported successfully!")

packages imported successfully!

### **Data Loading**

In [13]:
# import 2018 data from GitHub and name it df1
df1 = pd.read_csv("https://github.com/Azubi-Africa/Career_Accelerator_LP1-Data_Analysis/blob/main/startup_funding2018.csv?raw=true")
df1.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [14]:
# Import 2019 data
df2 = pd.read_csv("startup_funding2019.csv")
df2.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

### **Exploratory Data Analysis**

### **Data Cleaning**

### **Data Preprocessing**

### **Data Visualization**